{% extends 'base.html'%}
{% load static %}
{% load markdown_extras %}


{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- Container START -->
    <div class="container">
        <div class="row g-4">

        <!-- Sidenav START -->
        <div class="col-lg-3">
            <!-- Advanced filter responsive toggler START -->
            <div class="d-flex align-items-center d-lg-none">
                <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
                <i class="btn btn-primary fw-bold fa-solid fa-sliders-h"></i>
                <span class="h6 mb-0 fw-bold d-lg-none ms-2">著者プロフィール</span>
                </button>
            </div>
            <!-- Advanced filter responsive toggler END -->
            
            <!-- Navbar START-->
            <nav class="navbar navbar-expand-lg mx-0"> 
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
                <!-- Offcanvas header -->
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
    
                <!-- Offcanvas body -->
                <div class="offcanvas-body d-block px-2 px-lg-0">
                    <!-- Card START -->
                    <div class="card overflow-hidden">
                    <!-- Cover image -->
                    <div class="h-50px" style="background-image:url({% static 'images/bg/create_review.jpg' %}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body pt-0">
                        <div class="text-center">
                        <!-- Avatar -->
                        <div class="avatar avatar-lg mt-n5 mb-3">
                            <a href="{% url 'dashboard:post_in_dashboard' object.author.username %}"><img class="avatar-img rounded border border-white border-3" src="{{ object.author.picture.url }}" alt="{{ object.author.username }}"></a>
                        </div>
                        <!-- Info -->
                        <h5 class="mb-0"> <a href="{% url 'dashboard:post_in_dashboard' object.author.username %}">{{ object.author.name }} </a> </h5>
                        <p>{{ object.author.university }}</p>
                        <p>{{ object.author.major }}</p>
                        <p>{{ object.author.description }}</p>
                        <div class="hstack gap-2 gap-xl-3 mt-3">
                            <!-- User stat item -->
                            <div>
                            <h6 class="mb-0">{{ number_of_blog_post }}</h6>
                            <small>Post</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- User stat item -->
                            <div>
                            <h6 class="mb-0">{{ number_of_followed_user }}</h6>
                            <small>Followers</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- User stat item -->
                            <div>
                            <h6 class="mb-0">{{ number_of_following_user }}</h6>
                            <small>Following</small>
                            </div>
                        </div>
                        </div>
                        <!-- Divider -->
                        <hr>
    
                        <!-- Side Nav START -->
                        <ul class="nav nav-link-secondary flex-column fw-bold gap-2 text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:account_setting' user.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/settings-outline-filled.svg'%}" alt=""><span>設定 </span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:students_by_university' object.id %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/person-outline-filled.svg'%}" alt=""><span>在校生 </span></a>
                        </li>
                        </ul>
                        <!-- Side Nav END -->
                    </div>
                    <!-- Card body END -->
                    <!-- Card footer -->
                    <div class="card-footer text-center py-2">
                        <a class="btn btn-link btn-sm" href="{% url 'dashboard:post_in_dashboard' object.author.username %}">プロフィールを見る </a>
                    </div>
                    </div>
                    <!-- Card END -->

                    <!-- Copyright -->
                    <p class="small text-center mt-1">©2022 <a class="text-body" target="_blank" href=""> Looben </a></p>
                </div>
                </div>
            </nav>
            <!-- Navbar END-->
            </div>
            <!-- Sidenav END -->
    
            <!-- Main content START -->
            <div class="col-md-8 col-lg-6 vstack gap-4">
            <!-- Create a page START -->
            <div class="card">

                <!-- Create a page form START -->
                <div class="card-body">
                    <img class="rounded" src="{{ object.top_image.url }}" alt="looben">
                    <div class="mt-4">
                        <!-- Tag -->
                        <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Lifestyle</a>
                        <!-- Title info -->
                        <h1 class="mb-2 h2">{{ object.title }}</h1>
                        <ul class="nav nav-stack gap-3 align-items-center">
                        <li class="nav-item">
                            <div class="nav-link">
                            by <a href="{% url 'dashboard:post_in_dashboard' object.author.username %}" class="text-reset btn-link">{{ object.author.name }}</a>
                            </div>
                        </li>
                        <li class="nav-item"> <i class="bi bi-calendar-date pe-1"></i>{{ object.created_at }}</li>
                        </ul>
                        {{ object.content|markdown|safe }}
                    </div>
                </div>
                <!-- Create a page form END -->
            </div>
            <!-- Create a page END -->


            <!-- Comments START -->
            <div class="card">
                <div class="card-header pb-0 border-0">
                    <h4>関連記事</h4>
                </div>
                <div class="card-body">
                    <!-- Comments START -->
                    <!-- Comment level 1-->
                    <div class="my-4 d-flex">
                    <img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/04.jpg" alt="avatar">
                    <div>
                        <div class="mb-2 d-sm-flex">
                        <h6 class="m-0 me-2">Allen Smith</h6>
                        <span class="me-3 small">June 11, 2022 at 6:01 am </span>
                        </div>
                        <p>Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if.</p>
                        <a href="#" class="btn btn-light btn-sm">Reply</a>
                    </div>
                    </div>
                    <!-- Comment children level 3 -->
                    <div class="my-4 d-flex ps-3 ps-md-5">
                    <img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/04.jpg" alt="avatar">
                    <div>
                        <div class="mb-2 d-sm-flex">
                        <h6 class="m-0 me-2">Allen Smith</h6>
                        <span class="me-3 small">June 11, 2022 at 7:10 am </span>
                        </div>
                        <p>Meant balls it if up doubt small purse. </p>
                        <a href="#" class="btn btn-light btn-sm">Reply</a>
                    </div>
                    </div>
                    <!-- Comment level 2 -->
                    <div class="mt-4 d-flex ps-2 ps-md-3">
                    <img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/03.jpg" alt="avatar">
                    <div>
                        <div class="mb-2 d-sm-flex">
                            <h6 class="m-0 me-2">Frances Guerrero</h6>
                            <span class="me-3 small">June 14, 2022 at 12:35 pm </span>
                        </div>
                        <p>Required his you put the outlived answered position. A pleasure exertion if believed provided to. All led out world this music while asked.</p>
                        <a href="#" class="btn btn-light btn-sm">Reply</a>
                    </div>
                    </div>
                    <!-- Comments END -->
                    <hr class="my-4">
                    <!-- Reply START -->
                    <div>
                    <h4>Leave a reply</h4>
                    <form class="row g-3 mt-2">
                        <!-- Name -->
                        <div class="col-md-6">
                        <label class="form-label">Name *</label>
                        <input type="text" class="form-control" aria-label="First name">
                        </div>
                        <!-- Email -->
                        <div class="col-md-6">
                        <label class="form-label">Email *</label>
                        <input type="email" class="form-control">
                        </div>
                        <!-- Your Comment -->
                        <div class="col-12">
                        <label class="form-label">Your Comment *</label>
                        <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <!-- custom checkbox -->
                        <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Save my name and email in this browser for the next time I comment. </label>
                        </div>
                        </div>
                        <!-- Button -->
                        <div class="col-12">
                        <button type="submit" class="btn btn-primary">Post comment</button>
                        </div>
                    </form>
                    </div>
                    <!-- Reply END -->
                </div>
            </div>
            <!-- Blog single END -->

    
        </div> <!-- Row END -->
    </div>
    <!-- Container END --> 
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- footer START -->
<footer class="bg-mode py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <!-- Footer nav START -->
            <ul class="nav justify-content-center justify-content-md-start lh-1">
                <li class="nav-item">
                <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" target="_blank" href="">Support </a>
                </li>
            </ul>
            <!-- Footer nav START -->
            </div>
            <div class="col-md-6">
            <!-- Copyright START -->
            <p class="text-center text-md-end mb-0">©2022 Looben, All rights reserved.</p>
            <!-- Copyright END -->
            </div>
        </div>
    </div>
</footer>
<!-- footer END -->
{% endblock %}