{% extends 'base.html'%}
{% load static %}
{% load markdown_extras %}

{% block head_content %}
<link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
<link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
{% endblock %}


{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- Container START -->
    <div class="container">
        <div class="row g-4">

        <!-- Sidenav START -->
        <div class="col-lg-3">
            <!-- Advanced filter responsive toggler START -->
            <div class="d-flex align-items-center d-lg-none">
                <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
                <i class="btn btn-primary fw-bold fa-solid fa-sliders-h"></i>
                <span class="h6 mb-0 fw-bold d-lg-none ms-2">著者プロフィール</span>
                </button>
            </div>
            <!-- Advanced filter responsive toggler END -->
            
            <!-- Navbar START-->
            <nav class="navbar navbar-expand-lg mx-0"> 
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
                <!-- Offcanvas header -->
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
    
                <!-- Offcanvas body -->
                <div class="offcanvas-body d-block px-2 px-lg-0">
                    <!-- Card START -->
                    <div class="card overflow-hidden">
                    <!-- Cover image -->
                    <div class="h-50px" style="background-image:url({% static 'images/bg/create_review.jpg' %}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body pt-0">
                        <div class="text-center">
                        <!-- Avatar -->
                        <div class="avatar avatar-lg mt-n5 mb-3">
                            <a href="{% url 'dashboard:post_in_dashboard' object.author.username %}"><img class="avatar-img rounded border border-white border-3" src="{{ object.author.picture.url }}" alt="{{ object.author.username }}"></a>
                        </div>
                        <!-- Info -->
                        <h5 class="mb-0"> <a href="{% url 'dashboard:post_in_dashboard' object.author.username %}">{{ object.author.name }} </a> </h5>
                        <p>{{ object.author.university }}</p>
                        <p>{{ object.author.major }}</p>
                        <p>{{ object.author.description }}</p>
                        <div class="hstack gap-2 gap-xl-3 mt-3">
                            <!-- User stat item -->
                            <div>
                            <h6 class="mb-0">{{ number_of_blog_post }}</h6>
                            <small>Post</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- User stat item -->
                            <div>
                            <h6 class="mb-0">{{ number_of_followed_user }}</h6>
                            <small>Followers</small>
                            </div>
                            <!-- Divider -->
                            <div class="vr"></div>
                            <!-- User stat item -->
                            <div>
                            <h6 class="mb-0">{{ number_of_following_user }}</h6>
                            <small>Following</small>
                            </div>
                        </div>
                        </div>
                        <!-- Divider -->
                        <hr>
    
                        <!-- Side Nav START -->
                        <ul class="nav nav-link-secondary flex-column fw-bold gap-2 text-center">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard:post_in_dashboard' object.author.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/certificate-outline-filled.svg' %}" alt="blog"><span>ブログ記事 </span></a>
                            </li>
                            {% if object.author.state == '現役台湾留学生' or object.author.state == '台湾留学卒業生' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard:review_in_dashboard' object.author.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/clipboard-list-outline-filled.svg' %}" alt="review"><span>口コミ </span></a>
                            </li>                    
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard:question_in_dashboard' object.author.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/bulb-curvy-outline-filled.svg' %}" alt="question"><span>質問 </span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard:following_in_dashboard' object.author.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/person-outline-filled.svg' %}" alt="following"><span>フォロー中 </span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard:followed_in_dashboard' object.author.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/person-girl-outline-filled.svg' %}" alt="followd"><span>フォロワー </span></a>
                            </li>
                        </ul>
                        <!-- Side Nav END -->
                    </div>
                    <!-- Card body END -->
                    <!-- Card footer -->
                    <div class="card-footer text-center py-2">
                        <a class="btn btn-link btn-sm" href="{% url 'dashboard:post_in_dashboard' object.author.username %}">プロフィールを見る </a>
                    </div>
                    </div>
                    <!-- Card END -->

                    <!-- Copyright -->
                    <p class="small text-center mt-1">©2022 <a class="text-body" target="_blank" href=""> Looben </a></p>
                </div>
                </div>
            </nav>
            <!-- Navbar END-->
            </div>
            <!-- Sidenav END -->
    
            <!-- Main content START -->
            <div class="col-md-8 col-lg-6 vstack gap-4">
            <!-- Create a page START -->
            <div class="card">
                <!-- Create a page form START -->
                <div class="card-body">
                    
                    <img class="rounded" src="{{ object.top_image.url }}" alt="looben">
                    <div class="mt-4">
                        <!-- Tag -->
                        <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Lifestyle</a>
                        <!-- Title info -->
                        <h1 class="mb-2 h2">{{ object.title }}</h1>
                        
                        <div class="d-flex align-items-center justify-content-between" style="margin-bottom:5px;">
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <div class="avatar me-2">
                                    <a href="{% url 'dashboard:post_in_dashboard' object.author.username %}"> <img class="avatar-img rounded-circle" src="{{ object.author.picture.url }}" alt="{{ object.author.username }}"> </a>
                                </div>
                                <!-- Info -->
                                <div>
                                    <div class="nav nav-divider">
                                    <h6 class="nav-item card-title mb-0"> <a href="{% url 'dashboard:post_in_dashboard' object.author.username %}"> {{ object.author.name }} </a></h6>
                                    </div>
                                    <p class="mb-0 small">{{ object.created_at }}</p>
                                </div>
                            </div>
                            {% if is_user_liked_for_post %}
                            <div class="ms-md-auto d-flex">
                                <span style="color:gray;" id="like-for-post-count"> {{ number_of_like_for_blog_post }}</span>
                                <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                                    <i class="bi bi-heart-fill" id="like-for-post-icon" style="color:#F73641"></i>
                                </button>
                            </div>
                            {% else %}
                            <div class="ms-md-auto d-flex">
                                <span style="color:gray;" id="like-for-post-count"> {{ number_of_like_for_blog_post }}</span>
                                <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                                    <i class="bi bi-heart" id="like-for-post-icon" style="color:#F73641"></i>
                                </button>
                            </div>
                            {% endif %}
                            <!-- Card feed action dropdown END -->
                        </div>

                        {{ object.content|markdown|safe }}

                        <div class="text-center">
                            <a class="btn btn-block btn-social btn-twitter mt-1" href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{{ request.path }}" target="_blank" rel="nofollow">
                                <i class="bi bi-twitter" style="color:#36B5F7;"></i>
                            </a>

                            <a class="btn btn-block btn-social btn-twitter mt-1" href="https://www.facebook.com/share.php?u={{ request.scheme }}://{{ request.get_host }}{{ request.path }}&t={{ object.title }}" target="_blank" rel="nofollow">
                                <i class="bi bi-facebook" style="color:#368AF7;"></i>
                            </a>

                            <a class="btn btn-block btn-social btn-twitter mt-1" href="https://www.instagram.com/share?url={{ request.scheme }}://{{ request.get_host }}{{ request.path }}" target="_blank" rel="nofollow">
                                <i class="bi bi-instagram" style="color:#EE4CAC;"></i>
                            </a>
                            
                            <a class="btn btn-block btn-social btn-twitter mt-1" href="https://line.me/R/msg/text/?{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" target="_blank" rel="nofollow">
                                <i class="bi bi-line" style="color:#1DAF58;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Create a page form END -->
            </div>
            <!-- Create a page END -->


            <!-- Comments START -->
            <div class="card">
                <div class="card-header pb-0 border-0">
                    <h4>関連記事</h4>
                </div>
                <div class="card-body">
                    <!-- Blog item START -->
                    <div class="card bg-transparent border-0">
                        <div class="row g-3">
                        <div class="col-4">
                            <!-- Blog image -->
                            <img class="rounded" src="assets/images/post/4by3/03.jpg" alt="">
                        </div>
                        <div class="col-8">
                            <!-- Blog caption -->
                            <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Lifestyle</a>
                            <h5><a href="blog-details.html" class="btn-link stretched-link text-reset fw-bold">Social guides the way in 2022 app performance report</a></h5>
                            <div class="d-none d-sm-inline-block">
                            <p class="mb-2">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>
                            <!-- BLog date -->
                            <a class="small text-secondary" href="#!"> <i class="bi bi-calendar-date pe-1"></i> Jan 22, 2022</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Blog item END -->
                    <hr class="my-4">
                    <!-- Blog item START -->
                    <div class="card bg-transparent border-0">
                        <div class="row g-3">
                        <div class="col-4">
                            <!-- Blog image -->
                            <img class="rounded" src="assets/images/post/4by3/03.jpg" alt="">
                        </div>
                        <div class="col-8">
                            <!-- Blog caption -->
                            <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Lifestyle</a>
                            <h5><a href="blog-details.html" class="btn-link stretched-link text-reset fw-bold">Social guides the way in 2022 app performance report</a></h5>
                            <div class="d-none d-sm-inline-block">
                            <p class="mb-2">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>
                            <!-- BLog date -->
                            <a class="small text-secondary" href="#!"> <i class="bi bi-calendar-date pe-1"></i> Jan 22, 2022</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Blog item END -->
                    <hr class="my-4">
                    <!-- Blog item START -->
                    <div class="card bg-transparent border-0">
                        <div class="row g-3">
                        <div class="col-4">
                            <!-- Blog image -->
                            <img class="rounded" src="assets/images/post/4by3/03.jpg" alt="">
                        </div>
                        <div class="col-8">
                            <!-- Blog caption -->
                            <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Lifestyle</a>
                            <h5><a href="blog-details.html" class="btn-link stretched-link text-reset fw-bold">Social guides the way in 2022 app performance report</a></h5>
                            <div class="d-none d-sm-inline-block">
                            <p class="mb-2">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>
                            <!-- BLog date -->
                            <a class="small text-secondary" href="#!"> <i class="bi bi-calendar-date pe-1"></i> Jan 22, 2022</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Blog item END -->
                    <hr class="my-4">
                    <!-- Blog item START -->
                    <div class="card bg-transparent border-0">
                        <div class="row g-3">
                        <div class="col-4">
                            <!-- Blog image -->
                            <img class="rounded" src="assets/images/post/4by3/03.jpg" alt="">
                        </div>
                        <div class="col-8">
                            <!-- Blog caption -->
                            <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Lifestyle</a>
                            <h5><a href="blog-details.html" class="btn-link stretched-link text-reset fw-bold">Social guides the way in 2022 app performance report</a></h5>
                            <div class="d-none d-sm-inline-block">
                            <p class="mb-2">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced.</p>
                            <!-- BLog date -->
                            <a class="small text-secondary" href="#!"> <i class="bi bi-calendar-date pe-1"></i> Jan 22, 2022</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Blog item END -->
                </div>
            </div>
            <!-- Blog single END -->

    
        </div> <!-- Row END -->
    </div>
    <!-- Container END --> 
    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
    <script type="text/javascript">
        /* ポストに対するイイね */
        document.getElementById('ajax-like-for-post').addEventListener('click', e => {
            e.preventDefault();
            const url = '{% url "blogs:like_for_post" %}';
            fetch(url, {
                method: 'POST',
                body: `post_pk={{object.pk}}`,
                headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                'X-CSRFToken': '{{ csrf_token }}',
                },
            }).then(response => {
                return response.json();
            }).then(response => {
                // イイね数を書き換える
                const counter = document.getElementById('like-for-post-count')
                counter.textContent = response.like_for_post_count
                const icon = document.getElementById('like-for-post-icon')
                // 作成した場合はハートを塗る
                if (response.method == 'create') {
                icon.classList.remove('bi-heart')
                icon.classList.add('bi-heart-fill')
                icon.id = 'like-for-post-icon'
                } else {
                icon.classList.remove('bi-heart-fill')
                icon.classList.add('bi-heart')
                icon.id = 'like-for-post-icon'
                }
                console.log(response);
            }).catch(error => {
                console.log(error);
            });
        });

    </script>
    <script>
        $(function () {
            editormd.markdownToHTML("content", {
                emoji           : true,
                taskList        : true,
                tex             : true, 
                flowChart       : true,
                sequenceDiagram : true,
            });
            $(".reference-link").each(function (i,obj) {
                console.log(obj)
            })
        })
    </script>

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- footer START -->
<footer class="bg-mode py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <!-- Footer nav START -->
            <ul class="nav justify-content-center justify-content-md-start lh-1">
                <li class="nav-item">
                <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" target="_blank" href="">Support </a>
                </li>
            </ul>
            <!-- Footer nav START -->
            </div>
            <div class="col-md-6">
            <!-- Copyright START -->
            <p class="text-center text-md-end mb-0">©2022 Looben, All rights reserved.</p>
            <!-- Copyright END -->
            </div>
        </div>
    </div>
</footer>
<!-- footer END -->
{% endblock %}