{% extends 'base.html' %}
{% load static %}

{% block head_content%}
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- Container START -->
    <div class="container">
        <div class="row g-4">
            <!-- Main content START -->
            <div class="col-lg-8 mx-auto">
            <!-- Privacy & terms START -->
            <div class="card">
                <div class="card-header">
                <h1 class="card-title h4 mb-0">プライバシーポリシー（個人情報保護方針）</h1>
                </div>
                <div class="card-body">
                <!-- Title -->
                <p>台湾留学情報サイトLooben（以下、「Looben」という。）は，ユーザーの個人情報について以下のとおりプライバシーポリシー（以下、「本ポリシー」という。）を定めます。本ポリシーは、Loobenがどのような個人情報を取得し、どのように利用・共有するか、ユーザーがどのようにご自身の個人情報を管理できるかをご説明するものです。</p>
    
                <!-- Divider -->
                <hr class="mt-2 mb-4">
                
                <!-- Table of Contents -->
                <h5>【１．事業者情報】</h5>
                <p>サイト名：台湾留学情報サイトLooben<br>
                    代表者：中村幹太</p>
    
                <!-- Divider -->
                <hr class="mt-2 mb-4">
                
                <!-- Introduction -->
                <h5>【２．個人情報の取得方法】</h5>
                <p>Loobenはユーザーが利用登録をするとき、氏名・生年月日・メールアドレスなど個人を特定できる情報を取得させていただきます。</p>
                <p>お問い合わせフォームの送信時には、氏名・メールアドレスを取得させていただきます。</p>
    
                <!-- Divider -->
                <hr class="mt-2 mb-4">
                
                <!-- Services -->
                <h5>【３．個人情報の利用目的】</h5>
                <p>Loobenを利用するユーザーが自分の名前や学校を開示することで、情報の信頼性の識別をしやすくする目的があります。 </p>
    
                <!-- Divider -->
                <hr class="mt-2 mb-4">
                
                <!-- Messages -->
                <h5>【４．個人データを安全に管理するための措置】</h5>
                <p>Loobenは個人情報を正確かつ最新の内容に保つよう努め、不正なアクセス・改ざん・漏えい・滅失及び毀損から保護するため努めていきます。 </p>
                
                <!-- Divider -->
                <hr class="mt-2 mb-4">
                
                <!-- How We Use Your Data -->
                <h5>【６．個人データの第三者提供について】</h5>
                <p>Loobenは法令及びガイドラインに別段の定めがある場合を除き、同意を得ないで第三者に個人情報を提供することは致しません。</p>

                <hr class="mt-2 mb-4">
                
                <!-- How We Use Your Data -->
                <h5>【８．個人情報取り扱いに関する相談や苦情の連絡先】</h5>
                <p>Loobenの個人情報の取り扱いに関するご質問やご不明点、苦情、その他のお問い合わせはお問い合わせフォームよりご連絡ください。</p>

                <hr class="mt-2 mb-4">
                
                <!-- How We Use Your Data -->
                <h5>【９．SSL（Secure Socket Layer）について】</h5>
                <p>当社のWebサイトはSSLに対応しており、WebブラウザとWebサーバーとの通信を暗号化しています。ユーザーが入力するメールアドレスなどの個人情報は自動的に暗号化されます。</p>

                <hr class="mt-2 mb-4">
                
                <!-- How We Use Your Data -->
                <h5>【１０．cookieについて】</h5>
                <p><a href="https://ja.wikipedia.org/wiki/HTTP_cookie">cookie</a>とは、WebサーバーからWebブラウザに送信されるデータのことです。Webサーバーが<a href="https://ja.wikipedia.org/wiki/HTTP_cookie">cookie</a>を参照することでユーザーのパソコンを識別でき、効率的にLoobenWebサイトを利用することができます。LoobenWebサイトが<a href="https://ja.wikipedia.org/wiki/HTTP_cookie">cookie</a>として送るファイルは、個人を特定するような情報は含んでおりません。</p>
                <p>お使いのWebブラウザの設定により、<a href="https://ja.wikipedia.org/wiki/HTTP_cookie">cookie</a>を無効にすることも可能です。</p>
                <hr class="mt-2 mb-4">
                
                <!-- How We Use Your Data -->
                <h5>【１１．プライバシーポリシーの制定日及び改定日】</h5>
                <p>制定：2022年12月1日</p>

                <hr class="mt-2 mb-4">
                
                <!-- How We Use Your Data -->
                <h5>【１２．免責事項】</h5>
                <p>LoobenWebサイトに掲載されている情報の正確性には万全を期していますが、利用者が当社Webサイトの情報を用いて行う一切の行為に関して、一切の責任を負わないものとします。</p>
                <p>Loobenは、利用者が当社Webサイトを利用したことにより生じた利用者の損害及び利用者が第三者に与えた損害に関して、一切の責任を負わないものとします。</p>
            
            
                <hr class="mt-2 mb-4">
                
                <!-- How We Use Your Data -->
                <h5>【１３．著作権・肖像権】</h5>
                <p>LoobenWebサイト内の文章や画像、すべてのコンテンツは著作権・肖像権等により保護されています。無断での使用や転用は禁止されています。</p>

                <hr class="mt-2 mb-4">
                
                <!-- How We Use Your Data -->
                <h5>【１４．リンク】</h5>
                <p>LoobenWebサイトへのリンクは、自由に設置していただいて構いません。ただし、Webサイトの内容等によってはリンクの設置をお断りすることがあります。</p>

            </div>
            <!-- Privacy & terms END -->
            </div>
        </div> <!-- Row END -->
    </div>
    <!-- Container END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->


<!-- footer START -->
<footer class="bg-mode py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            <!-- Footer nav START -->
            <ul class="nav lh-1">
                <li class="nav-item">
                <a class="nav-link" href="my-profile-about.html">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://support.webestica.com/login">Support </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_form:privacy_and_safety' %}">プライバシーポリシー</a>
                </li>
            </ul>
            <!-- Footer nav START -->
            </div>
            <div class="col-lg-6 ">
            <!-- Copyright START -->
            <p class="text-end mb-0">©2022 Looben, All rights reserved.</p>
            <!-- Copyright END -->
            </div>
        </div>
    </div>
</footer>
<!-- footer END -->

{% endblock %}