body {
  font-size: 17px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.2352941176;
  color: #2D2624;
}
@media screen and (max-width: 730px) {
  body {
    font-size: 20px;
  }
}
@media screen and (max-width: 620px) {
  body {
    font-size: 14px;
  }
}

.main-container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 1040px) {
  .main-container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 620px) {
  .main-container {
    padding: 0 25px;
  }
}

@media screen and (max-width: 1040px) {
  .pc {
    display: none !important;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 1040px) {
  .sp {
    display: block;
  }
}

.main-btn {
  width: calc(195em / 13);
  height: calc(50em / 13);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.06em;
  color: #CE2C25;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 5px;
  border: 1px solid #CE2C25;
}
@media screen and (max-width: 730px) {
  .main-btn {
    width: calc(151em / 17);
    height: calc(46em / 17);
    font-size: 17px;
  }
}
@media screen and (max-width: 620px) {
  .main-btn {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .main-btn {
    font-size: 12px;
    width: calc(130em / 17);
  }
}

.main-btn::before,
.main-btn::after {
  position: absolute;
  top: 3px;
  bottom: 0;
  right: -77%;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.main-btn::before {
  left: 4px;
  width: 12px;
  height: 1px;
  background: #CE2C25;
}

.main-btn::after {
  left: 9px;
  width: 5.5px;
  height: 6.5px;
  border-radius: 0 0.5px 0 0;
  border-top: 1px solid #CE2C25;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-btn--red {
  color: #fff;
  background-color: #CE2C25;
}
.main-btn--red::before {
  background-color: #fff;
}
.main-btn--red::after {
  border-top: 1px solid #fff;
}

.looben {
  aspect-ratio: 223/55.2;
}

.header {
  padding-top: 39px;
}

.header__inner {
  max-width: 1285px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1040px) {
  .header__inner {
    padding: 0 50px;
  }
}
@media screen and (max-width: 620px) {
  .header__inner {
    padding: 0 20px;
  }
}

.header__logo-wrapper {
  width: 166px;
  aspect-ratio: 166.3/45;
  margin-top: 2px;
}
@media screen and (max-width: 730px) {
  .header__logo-wrapper {
    margin-top: 0;
  }
}
@media screen and (max-width: 620px) {
  .header__logo-wrapper {
    width: 125px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 450px) {
  .header__logo-wrapper {
    width: 100px;
  }
}

.header__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
@media screen and (max-width: 730px) {
  .header__btn-wrapper {
    -webkit-column-gap: 14px;
       -moz-column-gap: 14px;
            column-gap: 14px;
  }
}
@media screen and (max-width: 450px) {
  .header__btn-wrapper {
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;
  }
}

.fv {
  padding-bottom: 60px;
  background-image: url('/static/images/home/fv_bg01.png'), url('/static/images/home/fv_bg02-pc.png');
  background-size: 75px 189px, 1090px;
  background-repeat: no-repeat;
  background-position: bottom 14% left -20px, top left calc(50% + 308px);
}
@media screen and (max-width: 1040px) {
  .fv {
    background-size: 75px 189px, 800px;
    background-position: bottom 27.5% left 20px, top left calc(50% + 100px);
  }
}
@media screen and (max-width: 730px) {
  .fv {
    background-image: url('/static/images/home/fv_bg01.png'), url('/static/images/home/fv_bg02-sp.png');
    background-size: 74px 182px, 717px;
    background-repeat: no-repeat;
    background-position: bottom 27.5% left 20px, top left calc(50% + 86px);
  }
}
@media screen and (max-width: 620px) {
  .fv {
    padding-bottom: 35px;
    background-size: 74px 182px, 550px;
  }
}
@media screen and (max-width: 450px) {
  .fv {
    background-size: 60px 146px, 400px;
  }
}

.fv__inner {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto 0;
}
@media screen and (min-width: 1363px) {
  .fv__inner {
    max-width: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1040px) {
  .fv__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 21px;
  }
}
@media screen and (max-width: 620px) {
  .fv__inner {
    padding: 0 20px;
  }
}

.fv__text-box {
  margin-top: 50px;
  margin-left: 133px;
  margin-right: -166px;
}
@media screen and (min-width: 1363px) {
  .fv__text-box {
    margin-right: 0;
  }
}
@media screen and (max-width: 1040px) {
  .fv__text-box {
    text-align: center;
    margin-left: 50px;
    margin-right: 0;
  }
}
@media screen and (max-width: 730px) {
  .fv__text-box {
    margin-top: 0;
    margin-left: 0;
  }
}

.fv__main {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0;
}
@media screen and (max-width: 1040px) {
  .fv__main {
    font-size: 52px;
  }
}
@media screen and (max-width: 730px) {
  .fv__main {
    font-size: 45px;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 620px) {
  .fv__main {
    font-size: 32px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 450px) {
  .fv__main {
    font-size: 24px;
  }
}

.fv__looben {
  width: 223px;
  margin-left: 9px;
}
@media screen and (max-width: 730px) {
  .fv__looben {
    width: 171px;
  }
}
@media screen and (max-width: 620px) {
  .fv__looben {
    width: 140px;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}
@media screen and (max-width: 450px) {
  .fv__looben {
    width: 100px;
  }
}

.fv__text {
  line-height: 2;
  letter-spacing: -0.035em;
  margin-top: 13px;
}
@media screen and (max-width: 730px) {
  .fv__text {
    line-height: 1.75;
    letter-spacing: -0.05em;
    margin-top: 7px;
  }
}

.fv__btn {
  width: calc(300em / 18);
  height: calc(75em / 18);
  font-size: 18px;
  margin-top: 26px;
}
@media screen and (max-width: 1040px) {
  .fv__btn {
    width: calc(430em / 18);
    height: calc(70em / 18);
  }
}
@media screen and (max-width: 730px) {
  .fv__btn {
    margin-top: 24px;
    margin-left: 56px;
  }
}
@media screen and (max-width: 620px) {
  .fv__btn {
    max-width: 90%;
    margin-left: 0;
  }
}
.fv__btn::before, .fv__btn::after {
  right: -82%;
}
.fv__btn::before {
  width: 18.5px;
}
.fv__btn::after {
  left: 11px;
  width: 8.5px;
  height: 9.5px;
}

.fv__img-wrapper {
  width: 925px;
  overflow: hidden;
}
@media screen and (max-width: 1040px) {
  .fv__img-wrapper {
    width: auto;
    text-align: center;
    margin-top: 50px;
  }
}

.fv__img {
  width: 909px;
  aspect-ratio: 909/552;
  position: relative;
  top: -2px;
  right: -225px;
}
@media screen and (min-width: 1363px) {
  .fv__img {
    right: -18px;
  }
}
@media screen and (max-width: 1040px) {
  .fv__img {
    width: calc(100% - 100px);
    position: initial;
  }
}
@media screen and (max-width: 620px) {
  .fv__img {
    width: 95%;
  }
}

.feature {
  padding-top: 134px;
  background-image: url('/static/images/home/feature_bg01.png'), url('/static/images/home/feature_bg02.png');
  background-repeat: no-repeat;
  background-size: 35px, 120px 37.6px;
  background-position: top 11.6% left 6.4%, top 4% right 6.3%;
}
@media screen and (max-width: 1040px) {
  .feature {
    background-position: top 15.6% left 6.4%, top 4% right 6.3%;
  }
}
@media screen and (max-width: 730px) {
  .feature {
    padding-top: 17px;
    background-image: none;
  }
}

.feature__title {
  font-size: 55px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.04em;
  padding-bottom: 48px;
  position: relative;
}
@media screen and (max-width: 730px) {
  .feature__title {
    font-size: 45px;
    padding-bottom: 42px;
  }
}
@media screen and (max-width: 620px) {
  .feature__title {
    font-size: 32px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 450px) {
  .feature__title {
    font-size: 24px;
    padding-bottom: 16px;
  }
}
.feature__title::after {
  content: "";
  width: 50px;
  height: 2px;
  display: block;
  background-color: #CE2C25;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.feature__item-box {
  margin-top: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 148px;
}
@media screen and (max-width: 1040px) {
  .feature__item-box {
    row-gap: 100px;
  }
}
@media screen and (max-width: 730px) {
  .feature__item-box {
    margin-top: 13px;
    row-gap: 61px;
  }
}

.feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 730px) {
  .feature__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.feature__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 730px) {
  .feature__item:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature__text-box {
  margin-top: 49px;
}
@media screen and (max-width: 620px) {
  .feature__text-box {
    margin-top: 30px;
  }
}

.feature__head {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #CE2C25;
  letter-spacing: 0.09em;
  margin-left: 9px;
}
@media screen and (max-width: 730px) {
  .feature__head {
    margin-left: 4px;
  }
}
@media screen and (max-width: 620px) {
  .feature__head {
    margin-left: 0;
  }
}
@media screen and (max-width: 450px) {
  .feature__head {
    font-size: 14px;
  }
}

.feature__main {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.4444444444;
  letter-spacing: -0.04em;
  margin-top: 12px;
}
@media screen and (max-width: 1040px) {
  .feature__main {
    font-size: 29px;
  }
}
@media screen and (max-width: 730px) {
  .feature__main {
    font-size: 35px;
    line-height: 1.4285714286;
    margin-left: 3px;
  }
}
@media screen and (max-width: 620px) {
  .feature__main {
    font-size: 26px;
    margin-left: 0;
  }
}
@media screen and (max-width: 450px) {
  .feature__main {
    font-size: 22px;
    margin-top: 6px;
  }
}

.feature__text {
  line-height: 2;
  letter-spacing: -0.035em;
  margin-top: 27px;
  margin-left: 4px;
}
@media screen and (max-width: 1040px) {
  .feature__text {
    font-size: 15px;
  }
}
@media screen and (max-width: 730px) {
  .feature__text {
    line-height: 1.75;
    letter-spacing: -0.02em;
    margin-top: 13px;
    margin-left: 8px;
  }
}
@media screen and (max-width: 620px) {
  .feature__text {
    margin-left: 0;
  }
}

.feature__img-wrapper {
  max-width: 100%;
}

.feature__img {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.feature__looben {
  width: 179px;
}
@media screen and (max-width: 730px) {
  .feature__looben {
    width: 138px;
  }
}
@media screen and (max-width: 620px) {
  .feature__looben {
    width: 110px;
  }
}
@media screen and (max-width: 450px) {
  .feature__looben {
    width: 90px;
  }
}

.feature__item01 {
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
}
@media screen and (max-width: 1040px) {
  .feature__item01 {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
.feature__item01 .feature__img-wrapper {
  width: 543px;
  aspect-ratio: 543/501.8;
}
@media screen and (max-width: 1040px) {
  .feature__item01 .feature__img-wrapper {
    width: 120%;
  }
}
@media screen and (max-width: 730px) {
  .feature__item01 .feature__img-wrapper {
    width: 519px;
    margin-top: 42px;
    margin-left: 13px;
  }
}
@media screen and (max-width: 620px) {
  .feature__item01 .feature__img-wrapper {
    margin-left: 0;
  }
}
@media screen and (max-width: 450px) {
  .feature__item01 .feature__img-wrapper {
    margin-top: 16px;
  }
}
.feature__item02 {
  -webkit-column-gap: 88px;
     -moz-column-gap: 88px;
          column-gap: 88px;
}
@media screen and (max-width: 1040px) {
  .feature__item02 {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
.feature__item02 .feature__text-box {
  margin-top: 31px;
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}
@media screen and (max-width: 1040px) {
  .feature__item02 .feature__text-box {
    margin-top: 0;
  }
}
@media screen and (max-width: 730px) {
  .feature__item02 .feature__text-box {
    -webkit-transform: none;
            transform: none;
  }
}
.feature__item02 .feature__head {
  margin-left: 7px;
}
@media screen and (max-width: 620px) {
  .feature__item02 .feature__head {
    margin-left: 0;
  }
}
.feature__item02 .feature__img-wrapper {
  width: 516px;
  aspect-ratio: 516/405.7;
}
@media screen and (max-width: 1040px) {
  .feature__item02 .feature__img-wrapper {
    width: 120%;
  }
}
@media screen and (max-width: 730px) {
  .feature__item02 .feature__img-wrapper {
    margin-top: 39px;
    margin-left: 13px;
  }
}
@media screen and (max-width: 620px) {
  .feature__item02 .feature__img-wrapper {
    margin-left: 0;
  }
}
@media screen and (max-width: 450px) {
  .feature__item02 .feature__img-wrapper {
    margin-top: 16px;
  }
}
.feature__item02 .feature__img {
  width: 100.5%;
}
.feature__item03 {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.feature__item03 .feature__text-box {
  margin-top: 104px;
}
@media screen and (max-width: 1040px) {
  .feature__item03 .feature__text-box {
    margin-top: 8px;
  }
}
@media screen and (max-width: 730px) {
  .feature__item03 .feature__text-box {
    margin-top: 33px;
  }
}
@media screen and (max-width: 620px) {
  .feature__item03 .feature__text-box {
    margin-top: 0;
  }
}
.feature__item03 .feature__main {
  margin-top: 9px;
}
.feature__item03 .feature__looben {
  margin-left: 6px;
}
@media screen and (max-width: 730px) {
  .feature__item03 .feature__looben {
    margin-top: 10px;
    margin-left: 2px;
  }
}
@media screen and (max-width: 620px) {
  .feature__item03 .feature__looben {
    margin-left: 5px;
    margin-right: 3px;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}
@media screen and (max-width: 450px) {
  .feature__item03 .feature__looben {
    margin-top: 0;
  }
}
.feature__item03 .feature__text {
  margin-top: 31px;
}
@media screen and (max-width: 730px) {
  .feature__item03 .feature__text {
    margin-top: 14px;
  }
}
.feature__item03 .feature__img-wrapper {
  width: 544px;
  aspect-ratio: 544/507;
}
@media screen and (max-width: 1040px) {
  .feature__item03 .feature__img-wrapper {
    width: 120%;
  }
}
@media screen and (max-width: 730px) {
  .feature__item03 .feature__img-wrapper {
    width: 525px;
    margin-top: 50px;
    margin-left: 7px;
  }
}
@media screen and (max-width: 620px) {
  .feature__item03 .feature__img-wrapper {
    margin-left: 0;
  }
}
@media screen and (max-width: 450px) {
  .feature__item03 .feature__img-wrapper {
    margin-top: 16px;
  }
}

.message__inner {
  max-width: 1042px;
  margin: 142px auto 0;
  padding: 0 20px;
}
@media screen and (max-width: 730px) {
  .message__inner {
    padding: 0 50px;
    margin-top: 59px;
  }
}
@media screen and (max-width: 620px) {
  .message__inner {
    padding: 0 25px;
  }
}

.message__contents {
  border: 2px solid #939393;
  padding: 0 63px;
}
@media screen and (max-width: 730px) {
  .message__contents {
    border: none;
    padding: 0;
  }
}

.message__text-box {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 45px;
  position: relative;
}
@media screen and (max-width: 730px) {
  .message__text-box {
    text-align: left;
    margin-left: 7px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 620px) {
  .message__text-box {
    padding-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .message__text-box {
    padding-bottom: 16px;
  }
}
.message__text-box::before, .message__text-box::after {
  content: "";
  width: 100%;
  height: 10px;
  display: block;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.message__text-box::before {
  top: -5px;
}
.message__text-box::after {
  bottom: -5px;
}

.message__title {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #CE2C25;
  letter-spacing: 0.08em;
}

.message__main {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.4285714286;
  letter-spacing: -0.04em;
  margin-top: 17px;
}
@media screen and (max-width: 730px) {
  .message__main {
    font-size: 35px;
    margin-top: 7px;
  }
}
@media screen and (max-width: 620px) {
  .message__main {
    font-size: 26px;
  }
}

.message__text {
  line-height: 2;
  letter-spacing: -0.04em;
  margin-top: 30px;
}
@media screen and (max-width: 730px) {
  .message__text {
    line-height: 1.75;
    margin-top: 23px;
  }
}

.message__sign {
  margin-top: 20px;
}
@media screen and (max-width: 730px) {
  .message__sign {
    font-size: 17px;
    margin-top: 35px;
  }
}
@media screen and (max-width: 620px) {
  .message__sign {
    margin-top: 15px;
  }
}

.start {
  background-image: url('/static/images/home/start_bg01-pc.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  padding-top: 299px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1040px) {
  .start {
    padding-top: 200px;
  }
}
@media screen and (max-width: 730px) {
  .start {
    background-image: url('/static/images/home/start_bg01-sp.png');
    padding-top: 164px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 620px) {
  .start {
    padding-top: 120px;
  }
}

.start__inner {
  text-align: center;
}

.start__title {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 730px) {
  .start__title {
    line-height: 1.45;
  }
}
@media screen and (max-width: 620px) {
  .start__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 450px) {
  .start__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 450px) {
  .start__title {
    font-size: 28px;
  }
}
.start__title span {
  letter-spacing: -0.5em;
}

.start__looben {
  width: 174px;
  margin-left: 22px;
  margin-right: 4px;
}
@media screen and (max-width: 730px) {
  .start__looben {
    margin-left: 2px;
  }
}
@media screen and (max-width: 620px) {
  .start__looben {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}
@media screen and (max-width: 450px) {
  .start__looben {
    width: 130px;
  }
}

.start__btn-wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 52px;
}
@media screen and (max-width: 730px) {
  .start__btn-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
}

.start__btn {
  width: calc(300em / 18);
  height: calc(75em / 18);
  font-size: 18px;
}
@media screen and (max-width: 730px) {
  .start__btn {
    width: calc(430em / 18);
    height: calc(70em / 18);
  }
}
@media screen and (max-width: 620px) {
  .start__btn {
    max-width: 90%;
  }
}
.start__btn::before, .start__btn::after {
  right: -82%;
}
.start__btn::before {
  width: 18.8px;
}
.start__btn::after {
  left: 12px;
  width: 8px;
  height: 8px;
}
.start__btn.main-btn--white {
  background: #fff;
  color: #b4291e;
}
.start__btn.main-btn--red {
  background-color: #b4291e;
  border: 2px solid #fff;
}

.footer {
  padding: 60px 0;
}
@media screen and (max-width: 730px) {
  .footer {
    padding: 54px 0;
  }
}

.footer__logo-wrapper {
  width: 240px;
  aspect-ratio: 240/65;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */