{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Looben</title>

        <!-- Bootstrapを読み込む　-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/looben_icon.png' %}">

        <!-- プラグイン CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/OverlayScrollbars-master/css/OverlayScrollbars.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/tiny-slider/dist/tiny-slider.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/glightbox-master/dist/css/glightbox.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/dropzone/dist/dropzone.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/flatpickr/dist/flatpickr.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/plyr/plyr.css' %}" />

        <!-- 共通のテーマ CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!--  個別のCSS -->
        {% block head_content %}{% endblock %}
    </head>
    <body>
    <!-- =======================Header START -->
    <header class="navbar-dark navbar-transparent header-static">

        <!-- Logo Nav START -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
            <!-- Logo START -->
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'dashboard:post_in_dashboard' username=user.username %}">
                <img class="light-mode-item navbar-brand-item" src="{% static 'images/looben.png' %}" alt="looben">
                <img class="dark-mode-item navbar-brand-item" src="{% static 'images/looben.png' %}" alt="looben">
            </a>
            {% else %}
            <a class="navbar-brand" href="{% url 'accounts:home' %}">
                <img class="light-mode-item navbar-brand-item" src="{% static 'images/looben.png' %}" alt="looben">
                <img class="dark-mode-item navbar-brand-item" src="{% static 'images/looben.png' %}" alt="looben">
            </a>
            {% endif %}
            <!-- Logo END -->
        

            <!-- Responsive navbar toggler -->
            <button class="navbar-toggler ms-auto icon-md btn btn-light-soft p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-animation">
                <span></span>
                <span></span>
                <span></span>
                </span>
            </button>

            <!-- Main navbar START -->
            <div class="collapse navbar-collapse" id="navbarCollapse">


                <ul class="navbar-nav navbar-nav-scroll ms-auto">
                <!-- Nav item 1 Pages -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:research_university' %}">大学</a>
                </li>             

                <!-- Nav item 2 Post -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:comingsoon' %}">バイト</a>
                </li>  

                <!-- Nav item 3 Post -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">留学生とつながる</a>
                    <ul class="dropdown-menu">
                    <li> <a class="dropdown-item" href="create-page.html"><i class="bi bi-patch-question"></i> 質問部屋</a></li>
                    <li> <a class="dropdown-item" href="create-page.html"><i class="bi  bi-newspaper"></i> ブログ記事一覧</a></li>
                    <li> <a class="dropdown-item" href="{% url 'accounts:user_ranking' %}"><i class="bi bi-file-earmark-person"></i> 留学生ランキング</a></li>
                    </ul>
                </li>
                <ul>
            </div>
            <!-- Main navbar END -->

            {% if user.is_authenticated %}
            <!-- Nav right START -->
            <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
                <!-- チャット画面への変移ボタン-->
                <li class="nav-item ms-2">
                <a class="nav-link icon-md btn btn-dark-soft p-0" href="{% url 'accounts:messaging' %}">
                <i class="bi bi-chat-dots-fill fs-6"> </i>
                </a>
                </li>
                    
                <!-- 設定画面への変移ボタン-->
                <li class="nav-item ms-2">
                <a class="nav-link icon-md btn btn-dark-soft p-0" href="{% url 'accounts:account_setting' username=user.username  %}">
                <i class="bi bi-gear-fill fs-6"> </i>
                </a>
                </li>

                <!-- 通知画面への変移ボタン-->
                <li class="nav-item dropdown ms-2">
                <a class="nav-link icon-md btn btn-dark-soft p-0" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <span class="badge-notif animation-blink"></span>
                    <i class="bi bi-bell-fill fs-6"> </i>
                </a>
                <div class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0" aria-labelledby="notifDropdown">
                    <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="m-0">通知 <span class="badge bg-danger bg-opacity-10 text-danger ms-2">4 new</span></h6>
                        <a class="small" href="#">Clear all</a>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush list-unstyled p-2">
                        <!-- Notif item -->
                        <li>
                            <div class="list-group-item list-group-item-action rounded badge-unread d-flex border-0 mb-1 p-3">
                            <div class="avatar text-center d-none d-sm-inline-block">
                                <img class="avatar-img rounded-circle" src="{% static 'images/avatar/hayato.jpg' %}" alt="">
                            </div>
                            <div class="ms-sm-3">
                                <div class=" d-flex">
                                <p class="small mb-2"><b>松村 颯</b> があなたをフォローしました</p>
                                <p class="small ms-3 text-nowrap">今</p>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-sm py-1 btn-primary me-2">フォローする </button>
                                <button class="btn btn-sm py-1 btn-danger-soft">詳細を見る </button>
                            </div>
                            </div>
                        </div>
                        </li>
                        <!-- Notif item -->
                        <li>
                        <div class="list-group-item list-group-item-action rounded badge-unread d-flex border-0 mb-1 p-3 position-relative">
                        <div class="avatar text-center d-none d-sm-inline-block">
                            <img class="avatar-img rounded-circle" src="{% static 'images/avatar/IMG_4023.jpg' %}" alt="">
                        </div>
                        <div class="ms-sm-3 d-flex">
                            <div>
                            <p class="small mb-2"><b>高橋 優輝</b>からメッセージが届きました</p>
                            <button class="btn btn-sm btn-outline-light py-1 me-2">詳細を見る</button>
                            </div>
                            <p class="small ms-3">2分前</p>
                        </div>
                        </div>
                        </li>
                        <li>
                            <a href="#" class="list-group-item list-group-item-action rounded d-flex border-0 p-3 mb-1">
                            <div class="avatar text-center d-none d-sm-inline-block">
                                <img class="avatar-img rounded-circle" src="{% static 'images/avatar/IMG_4025.jpg' %}" alt="">
                            </div>
                            <div class="ms-sm-3 d-flex">
                                <p class="small mb-2"><b>鈴木 優子</b>があなたの口コミにいいねしました</p>
                                <p class="small ms-3">4時間前</p>
                            </div>
                            </a>
                        </li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-sm btn-primary-soft">全て見る</a>
                    </div>
                    </div>
                </div>
                </li>
                <!-- Notification dropdown END -->


                <!-- アイコンボタン　-->
                <li class="nav-item ms-2 dropdown">
                <a class="nav-link btn icon-md p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="avatar-img rounded-2" src="{{ user.picture.url }}" alt="プロフィール写真">
                </a>
                <ul class="dropdown-menu dropdown-animation dropdown-menu-end pt-3 small me-md-n3" aria-labelledby="profileDropdown">
                    <!-- Profile info -->
                    <li class="px-3">
                    <div class="d-flex align-items-center position-relative">
                        <!-- Avatar -->
                        <div class="avatar me-3">
                        <img class="avatar-img rounded-circle"  src="{{ user.picture.url }}" alt="プロフィール写真">
                        </div>
                        <div>
                        <p class="h6">{{ user.name }}</p>
                        {% if user.state == '留学興味あり' or user.state == 'その他' %}
                        <p class="small m-0">{{ user.state }}</p>
                        {% else %}
                        <p class="small m-0">{{ user.school }}</p>
                        {% endif %}
                        </div>
                    </div>
                    <a class="dropdown-item btn btn-primary-soft btn-sm my-2 text-center" href="{% url 'dashboard:post_in_dashboard' username=user.username %}">ダッシュボード</a>
                    </li>
                    <!-- Links -->
                    <li><a class="dropdown-item" href="{% url 'accounts:account_setting' username=user.username %}"><i class="bi bi-gear fa-fw me-2"></i>設定&プライバシー</a></li>
                    <li> 
                    <a class="dropdown-item" href="https://support.webestica.com/" target="_blank">
                        <i class="fa-fw bi bi-life-preserver me-2"></i>Support
                    </a> 
                    </li>
                    <li> 
                    <a class="dropdown-item" href="docs/index.html" target="_blank">
                        <i class="fa-fw bi bi-card-text me-2"></i>Documentation
                        </a> 
                    </li>
                    <!-- superuserなら管理画面へのリンクを載せる -->
                    {% if user.is_superuser %}
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'admin:index' %}"><i class="bi bi-controller fa-fw me-2"></i>管理画面</a></li>
                    {% endif %}
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item bg-danger-soft-hover" href="{% url 'accounts:user_logout' %}"><i class="bi bi-power fa-fw me-2"></i>ログアウト</a></li>
                    <li> <hr class="dropdown-divider"></li>
                    <!-- Dark mode switch START -->
                    <li>
                    <div class="modeswitch-wrap" id="darkModeSwitch">
                        <div class="modeswitch-item">
                        <div class="modeswitch-icon"></div>
                        </div>
                        <span>ダークモード</span>
                    </div>
                    </li> 
                    <!-- Dark mode switch END -->
                </ul>
                </li>
                <!-- Profile START -->
            </ul>
            {% else %}
            <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
                <!-- ログイン　リンク -->
                <li class="nav-item">
                <a href="{% url 'accounts:user_login' %}" class="nav-link"><button class="btn btn-info-soft me-2" type="button">ログイン</button></a>
                </li>
                <!-- 新規登録　リンク -->
                <li class="nav-item">
                <a href="{% url 'accounts:regist' %}" class="nav-link"><button class="btn btn-primary me-2" type="button">新規登録</button></a>
                </li>
            </ul>
            {% endif %}
            <!-- Nav right END -->
            </div>
        </nav>
        <!-- Logo Nav END --> 
    </header>
    <!-- ======================= Header END -->
    
    <!-- **************** MAIN CONTENT START **************** -->
    <main> 
        <!-- Hero event START -->
        <section class="pt-5 pb-0 position-relative" style="background-image: url({% static 'images/bg/search_uni.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: top center;">
        <div class="bg-overlay bg-dark opacity-8"></div>
        <!-- Container START -->
        <div class="container">
            <div class="pt-5">
            <div class="row position-relative">
                <div class="col-xl-8 col-lg-10 mx-auto pt-sm-5 text-center">
                <!-- Title -->
                <h1 class="text-white">なんでも質問部屋</h1>
                <p class="text-white">大学に関することや、生活のことでも気になることは全てここで解決！</p>
                <div class="mx-auto bg-mode shadow rounded p-4 mt-5">
                    <h5 class="mb-3 text-start">気になる質問を見つけるのを手助けします</h5>
                    <!-- Form START -->
                    <form class="row g-3 justify-content-center">
                    <div class="col-md-5">
                        <!-- What -->
                        <div class="input-group">
                        <input class="form-control form-control-lg me-1 pe-5" type="text" placeholder="大学">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <!-- Where -->
                        <div class="input-group">
                        <input class="form-control form-control-lg me-1 pe-5" type="text" placeholder="キーワード">
                        </div>
                    </div>
                    <div class="col-md-2 d-grid">
                        <!-- Search -->
                        <a class="btn btn-lg btn-primary" href="#">検索</a>
                    </div>
                    </form>
                    <!-- Form END -->
                </div>
                </div>
                <div class="mb-n5 mt-3 mt-lg-5">
                <div class="col-xl-9 col-lg-11 mx-auto">
                    <!-- Category START -->
                    <div class="d-md-flex gap-3 mt-5">
                    <!-- Category item -->
                    <a href="{% url 'questions:categorized_questions' category='university' %}" class="card card-body mb-3 mb-lg-0 p-3 text-center">
                        <img class="h-40px mb-3" src="{% static 'images/icon/bank-outline-filled.svg' %}" alt="大学">
                        <h6>大学</h6>
                    </a>
                    <!-- Category item -->
                    <a href="{% url 'questions:categorized_questions' category='foods' %}" class="card card-body mb-3 mb-lg-0 p-3 text-center">
                        <img class="h-40px mb-3" src="{% static 'images/icon/burger-outline-filled.svg' %}" alt="食事">
                        <h6>食事</h6>
                    </a>
                    <!-- Category item -->
                    <a href="{% url 'questions:categorized_questions' category='study' %}" class="card card-body mb-3 mb-lg-0 p-3 text-center">
                        <img class="h-40px mb-3" src="{% static 'images/icon/bookmark-open-outline-filled.svg' %}" alt="勉強">
                        <h6>勉強</h6>
                    </a>
                    <!-- Category item -->
                    <a href="{% url 'questions:categorized_questions' category='love' %}" class="card card-body mb-3 mb-lg-0 p-3 text-center">
                        <img class="h-40px mb-3" src="{% static 'images/icon/heart-outline-filled.svg' %}" alt="恋愛">
                        <h6>恋愛</h6>
                    </a>
                    <!-- Category item -->
                    <a href="{% url 'questions:categorized_questions' category='life' %}" class="card card-body mb-3 mb-lg-0 p-3 text-center">
                        <img class="h-40px mb-3" src="{% static 'images/icon/globe-outline-filled.svg' %}" alt="人生">
                        <h6>人生</h6>
                    </a>
                    </div>
                    <!-- Category END -->
                </div>
                </div>
            </div>
            </div>
        </div>
        </section> 
        <!-- Hero event END -->

        <!-- Messaging feature START -->
        <section class="bg-mode py-5">
            <div class="container pt-5">
            <div class="row justify-content-center">
                <!-- Title -->
                <div class="col-lg-12 text-center mb-4">
                <h2>もうひとりで悩む必要はありません</h2>
                <p>悩みをゼロにして、台湾留学しませんか</p>
                <!-- button -->
                <a href="{% url 'questions:ask_question' %}"><button class="btn btn-primary">質問してみる</button></a>
                </div>
            </div>
            <!-- Row START -->
            <div class="row g-4 g-lg-5" style="margin-top:3px;">
                <!-- Feature START -->
                <div class="col-md-4 text-center">
                <h4>なんでも質問</h4>
                <p class="mb-0">台湾留学生に聞きたいことは、いつでもいくらでも質問できます。</p>
                </div>
                <!-- Feature END -->

                <!-- Feature START -->
                <div class="col-md-4 text-center">
                <h4>知りたい情報がここに</h4>
                <p class="mb-0">キーワード検索で、他の人の質問から知りたい情報をすぐに見つけられます。</p>
                </div>
                <!-- Feature END -->

                <!-- Feature START -->
                <div class="col-md-4 text-center">
                <h4>プライベートな質問は匿名で</h4>
                <p class="mb-0">質問したいことがあるけど他の人に見られたくないときは、匿名で質問できます。</p>
                </div>
                <!-- Feature END -->
            </div>
            <!-- Row START -->
            </div>
        </section>
        <!-- Messaging feature END -->
    
        <!-- 回答募集中 START -->
        <section class="bg-mode py-5">
            <div class="container pt-5">
                <div class="row">
                <div class="col-12 mb-3">
                    <div class="d-sm-flex justify-content-between">
                    <!-- Title -->
                    <h4>回答募集中</h4>
                    <a class="btn btn-link" href="{% url 'questions:categorized_questions' category='university' %}">もっと見る</a>
                    </div>
                </div>
                </div>
                {% if not question_seeking_answers %}
                <div class="row g-4">
                    <!-- Event item END -->
                    <div class="row justify-content-center">
                        <!-- Title -->
                        <div class="col-lg-12 text-center mb-4">
                        <h5>現在、回答募集中の質問はありません</h5>
                        <!-- button -->
                        <a href="{% url 'questions:ask_question' %}"><button class="btn btn-primary">質問してみる</button></a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row g-4">
                    {% for question in question_seeking_answers %}
                    <div class="col-sm-6 col-lg-3">
                        <!-- Event item START -->
                        <div class="card h-100">
                            <!-- 本来なら、写真を背景に設置できるが、デフォルトではしない -->
                            <div class="position-relative">
                                <img class="img-fluid rounded-top" src="" alt="">
                                <div class="badge mt-2 me-2 position-absolute top-0 end-0">
                                </div>
                            </div>
                        <!-- Card body START -->
                        <div class="card-body position-relative pt-0">
                            <!-- Tag -->
                            {% if question.category == 'university' %}
                            <span><a href="{% url 'questions:categorized_questions' category='university' %}" class="btn btn-xs btn-primary mt-n3">大学</a></span>
                            {% elif question.category == 'foods' %}
                            <span><a href="{% url 'questions:categorized_questions' category='foods' %}" class="btn btn-xs btn-primary mt-n3">食事</a></span>
                            {% elif question.category == 'study' %}
                            <span><a href="{% url 'questions:categorized_questions' category='study' %}" class="btn btn-xs btn-primary mt-n3">勉強</a></span>
                            {% elif question.category == 'love' %}
                            <span><a href="{% url 'questions:categorized_questions' category='love' %}" class="btn btn-xs btn-primary mt-n3">恋愛</a></span>
                            {% else %}
                            <span><a href="{% url 'questions:categorized_questions' category='life' %}" class="btn btn-xs btn-primary mt-n3">人生</a></span>
                            {% endif %}

                            <strong><a href="{% url 'questions:question_detail' question.id %}"><p class="mt-3">{{ question.content }}</p></a></strong>
                            <!-- Date time -->
                            <p class="mb-0 small"> <i class="bi bi-calendar-check pe-1"></i> {{ question.created_at }} </p>

                            {% if question.university %}
                            <p class="small"> <i class="bi bi-geo-alt pe-1"></i> {{ question.university }} </p>
                            {% endif %}
                            
                            <!-- Avatar group START -->
                            <ul class="avatar-group list-unstyled align-items-center mb-0">
                            <li class="avatar avatar-xs">
                                <a href="{% url 'dashboard:post_in_dashboard' question.user.username %}"><img class="avatar-img rounded-circle" src="{{ question.user.picture.url }}" alt="{{ question.user.username }}"></a>
                            </li>
                            <li class="ms-3">
                                <small> 質問者</small>
                            </li>
                            </ul>
                            <!-- Avatar group END -->
                            <!-- Button -->
                            <div class="d-flex mt-3 justify-content-between">
                            <!-- Interested button -->
                            <div class="w-100">
                                <a href="{% url 'questions:question_detail' question.id %}"><button type="button" class="btn btn-sm btn-outline-success d-block"><i class="bi bi-check me-1"></i> 質問を見る</button></a>
                            </div>
                            <div class="dropdown ms-3">
                                <a href="#" class="btn btn-sm btn-primary-soft" id="eventActionShare" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-share-fill"></i>
                                </a>
                                <!-- Dropdown menu -->
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="eventActionShare">
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-1"></i> Send via Direct Message</a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-1"></i> Share to News Feed </a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-people fa-fw pe-1"></i> Share to a group</a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-1"></i> Share post via …</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-person fa-fw pe-1"></i> Share on a friend's profile</a></li>
                                </ul>
                            </div>
                        </div>
                        </div>
                        <!-- Card body END -->
                    </div>
                    <!-- Event item END -->
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </section>
        <!-- 回答募集中 END -->

    
        <!-- 最新の解決済み START -->
        <section class="bg-mode py-5">
            <div class="container pt-5">
                <div class="row">
                <div class="col-12 mb-3">
                    <div class="d-sm-flex justify-content-between">
                    <!-- Title -->
                    <h4>最新の解決済み</h4>
                    <a class="btn btn-link" href="{% url 'questions:categorized_questions' category='university' %}">もっと見る</a>
                    </div>
                </div>
                </div>
                {% if not solved_questions %}
                <div class="row g-4">
                    <!-- Event item END -->
                    <div class="row justify-content-center">
                        <!-- Title -->
                        <div class="col-lg-12 text-center mb-4">
                        <h5>現在、最新の解決済みの質問はありません</h5>
                        <!-- button -->
                        <a href="{% url 'questions:ask_question' %}"><button class="btn btn-primary">質問してみる</button></a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row g-4">
                    {% for question in solved_questions %}
                    <div class="col-sm-6 col-lg-3">
                        <!-- Event item START -->
                        <div class="card h-100">
                            <!-- 本来なら、写真を背景に設置できるが、デフォルトではしない -->
                            <div class="position-relative">
                                <img class="img-fluid rounded-top" src="" alt="">
                                <div class="badge mt-2 me-2 position-absolute top-0 end-0">
                                </div>
                            </div>
                        <!-- Card body START -->
                        <div class="card-body position-relative pt-0">
                            <!-- Tag -->
                            {% if question.category == 'university' %}
                            <span><a href="{% url 'questions:categorized_questions' category='university' %}" class="btn btn-xs btn-primary mt-n3">大学</a></span>
                            {% elif question.category == 'foods' %}
                            <span><a href="{% url 'questions:categorized_questions' category='foods' %}" class="btn btn-xs btn-primary mt-n3">食事</a></span>
                            {% elif question.category == 'study' %}
                            <span><a href="{% url 'questions:categorized_questions' category='study' %}" class="btn btn-xs btn-primary mt-n3">勉強</a></span>
                            {% elif question.category == 'love' %}
                            <span><a href="{% url 'questions:categorized_questions' category='love' %}" class="btn btn-xs btn-primary mt-n3">恋愛</a></span>
                            {% else %}
                            <span><a href="{% url 'questions:categorized_questions' category='life' %}" class="btn btn-xs btn-primary mt-n3">人生</a></span>
                            {% endif %}

                            <strong><a href="{% url 'questions:question_detail' question.id %}"><p class="mt-3">{{ question.content }}</p></a></strong>
                            {% for answer in question.answerforquestion_set.all %}
                                <p class="mt-3" style="font-size:13px;"><i class="bi bi-award-fill" style="color:#F3F23F;"></i>ベストアンサー: {{ answer.answer }}</p>
                            {% endfor %}
                            <!-- Date time -->
                            <p class="mb-0 small"> <i class="bi bi-calendar-check pe-1"></i> {{ question.created_at }} </p>

                            {% if question.university %}
                            <p class="small"><i class="bi bi-geo-alt pe-1"></i> {{ question.university }} </p>
                            {% endif %}
                            
                            <!-- Avatar group START -->
                            <ul class="avatar-group list-unstyled align-items-center mb-0">
                            <li class="avatar avatar-xs">
                                <a href="{% url 'dashboard:post_in_dashboard' question.user.username %}"><img class="avatar-img rounded-circle" src="{{ question.user.picture.url }}" alt="{{ question.user.username }}"></a>
                            </li>
                            <li class="ms-3">
                                <small> 質問者</small>
                            </li>
                            </ul>
                            <!-- Avatar group END -->
                            <!-- Button -->
                            <div class="d-flex mt-3 justify-content-between">
                            <!-- Interested button -->
                            <div class="w-100">
                                <a href="{% url 'questions:question_detail' question.id %}"><button type="button" class="btn btn-sm btn-outline-success d-block"><i class="bi bi-check me-1"></i> 質問を見る</button></a>
                            </div>
                            <div class="dropdown ms-3">
                                <a href="#" class="btn btn-sm btn-primary-soft" id="eventActionShare" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-share-fill"></i>
                                </a>
                                <!-- Dropdown menu -->
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="eventActionShare">
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-1"></i> Send via Direct Message</a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-1"></i> Share to News Feed </a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-people fa-fw pe-1"></i> Share to a group</a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-1"></i> Share post via …</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-person fa-fw pe-1"></i> Share on a friend's profile</a></li>
                                </ul>
                            </div>
                        </div>
                        </div>
                        <!-- Card body END -->
                    </div>
                    <!-- Event item END -->
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </section>
        <!-- 最新の解決済み END -->      

        <!-- 信頼できる回答者 START -->
        <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
            <div class="col-12 mb-3">
                <div class="d-sm-flex justify-content-between">
                <!-- Title -->
                <h4>信頼できる回答者</h4>
                <a class="btn btn-link" href="{% url 'accounts:user_ranking' %}">もっと見る</a>
                </div>
            </div>
            </div>
            <div class="row g-4">
            {% for reliable_answerer in reliable_answerers %}
                <div class="col-md-4">
                    <!-- Card START -->
                    <div class="card">
                    <div class="h-80px rounded-top" style="background-color:{{ reliable_answerer.individual_theme_color }}; background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                        <!-- Card body START -->
                        <div class="card-body text-center pt-0">
                        <!-- Avatar -->
                        <div class="avatar avatar-lg mt-n5 mb-3">
                            <a href="{% url 'dashboard:post_in_dashboard' reliable_answerer.username %}"><img class="avatar-img rounded-circle border border-white border-3 bg-mode" src="{{ reliable_answerer.picture.url }}" alt="{{ reliable_answerer.username }}"></a>
                        </div>
                        <!-- Info -->
                        <h5 class="mb-0"> <a href="{% url 'dashboard:post_in_dashboard' reliable_answerer.username %}">{{ reliable_answerer.name }}</a> </h5>
                        <small> {{ reliable_answerer.state }}</small>
                        <!-- Group stat START -->
                        <div class="hstack gap-2 gap-xl-3 mt-3 justify-content-center">
                            <!-- Group stat item -->
                            <div>
                            <h6 class="mb-0">{{ reliable_answerer.contributed_points }}</h6>
                            <small>信頼度ポイント</small>
                            </div>
                        </div>
                        <!-- Group stat END -->
                    </div>
                    <!-- Card body END -->
                    </div>
                    <!-- Card END -->
                </div>
            {% endfor %}
            </div>
        </div>
        </section>
        <!-- 信頼できる回答者 END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- =======================JS libraries, plugins and custom scripts -->
        <!-- Bootstrap JS -->
        <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Vendors -->
        <script src="{% static 'vendor/pswmeter/pswmeter.min.js' %}"></script>
        <script src="{% static 'vendor/dropzone/dist/dropzone.js' %}"></script>
        <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
        <script src="{% static 'vendor/glightbox-master/dist/js/glightbox.min.js' %}"></script>
        <script src="{% static 'vendor/flatpickr/dist/flatpickr.min.js' %}"></script>

        <!-- Template Functions -->
        <script src="{% static 'js/functions.js' %}"></script>

        <!-- Bootstrapを使うために必要なコード -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>