{% extends 'base.html' %}
{% load static %}


{% block head_content%}
{% endblock %}


{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- Container START -->
    <div class="container">
        <div class="row g-4">
            <!-- Main content START -->
            <div class="col-lg-8 mx-auto">
            <div class="vstack gap-4">
                <!-- Blog single START -->
                <div class="card card-body">
                <div class="mt-4">
                    <div class="row justify-content-between">
                        <div class="col-8">
                            {% if object.is_solved %}
                            <h5><i class="bi bi-alarm" style="color:#1E99FF;"></i> 回答受付が終了しました</h5>
                            {% else %}
                            <h5><i class="bi bi-door-open" style="color:#1E99FF;"></i> 回答募集中</h5>
                            {% endif %}
                        </div>
                        <div class="col-4">
                            <h5 style="text-align:center;"><span style="color:#FF1474;">{{ number_of_answer }}</span>回答</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="d-md-flex align-items-center mb-4">
                        <!-- Avatar -->
                        <div class="avatar me-3 mb-3 mb-md-0">
                            <a href="{% url 'dashboard:post_in_dashboard' object.user.username %}"> <img class="avatar-img rounded-circle" src="{{ object.user.picture.url }}" alt="{{ object.user.username }}"> </a>
                        </div>
                        <!-- Info -->
                        <div class="w-100">
                            <div class="d-sm-flex align-items-start">
                            <h6 class="mb-0"><a href="{% url 'dashboard:post_in_dashboard' object.user.username %}">{{ object.user.name }}</a></h6>
                            </div>
                            <!-- Connections START -->
                            <ul class="avatar-group mt-1 list-unstyled align-items-sm-center">
                            <li class="small">
                                {% if object.user.state == '現役台湾留学生' or '台湾留学卒業生' %}
                                {{ object.user.school }} / {{ object.user.major }}
                                {% else %}
                                {{ object.state }}
                                {% endif %}
                            </li>
                            </ul>
                            <!-- Connections END -->
                        </div>
                    </div>
                    <!-- Tag -->
                    {% if object.category == 'university' %}
                    <span><a href="{% url 'questions:categorized_questions' category='university' %}" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">大学</a></span>
                    {% elif object.category == 'foods' %}
                    <span><a href="{% url 'questions:categorized_questions' category='foods' %}" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">食事</a></span>
                    {% elif object.category == 'study' %}
                    <span><a href="{% url 'questions:categorized_questions' category='study' %}" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">勉強</a></span>
                    {% elif object.category == 'love' %}
                    <span><a href="{% url 'questions:categorized_questions' category='love' %}" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">恋愛</a></span>
                    {% else %}
                    <span><a href="{% url 'questions:categorized_questions' category='life' %}" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">人生</a></span>
                    {% endif %}

                    {% if object.university %}
                    <a href="{% url 'accounts:university_detail' object.university.id %}" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">{{ object.university }}</a>
                    {% endif %}
                    <!-- Title info -->
                    <p class="mb-2" style="font-size:17px;">{{ object.content }}</p>
                    <p style="text-align:right;">{{ object.created_at }}</p>
                    <hr>
                    
                    {% if not object.is_solved and user is not object.user %}
                    <h5>質問回答</h5>
                    <form method="post" class="row g-3 mt-2">
                        {{ answer_form.non_field_errors }}
                        {% csrf_token %}
                        <!-- answer -->
                        <div class="col-12">
                        {{ answer_form.answer }}
                        <small>個人を特定できる、他人を傷つけるようなコメントは避けましょう。</small>
                        </div>
                        {{ answer_form.answer.error }}
                        <!-- Button -->
                        <div class="col-12">
                        <button type="submit" class="btn btn-primary">回答を送信</button>
                        </div>
                    </form>
                    {% elif best_answer %}
                    <h5><img src="{% static 'images/logo/medal.png' %}" style="width:50px;">ベストアンサー</h5>
                    <div class="d-md-flex align-items-center mb-4">
                        <!-- Avatar -->
                        <div class="avatar me-3 mb-3 mb-md-0">
                            <a href="{% url 'dashboard:post_in_dashboard' best_answer.user.username %}"> <img class="avatar-img rounded-circle" src="{{ best_answer.user.picture.url }}" alt="{{ best_answer.user.username }}"> </a>
                        </div>
                        <!-- Info -->
                        <div class="w-100">
                            <div class="d-sm-flex align-items-start">
                            <h6 class="mb-0"><a href="{% url 'dashboard:post_in_dashboard' best_answer.user.username %}">{{ best_answer.user.name }}</a></h6>
                            </div>
                            <!-- Connections START -->
                            <ul class="avatar-group mt-1 list-unstyled align-items-sm-center">
                            <li class="small">
                                {% if best_answer.user.state == '現役台湾留学生' or '台湾留学卒業生' %}
                                {{ best_answer.user.school }} / {{ best_answer.user.major }}
                                {% else %}
                                {{ best_answer.user.state }}
                                {% endif %}
                            </li>
                            </ul>
                            <!-- Connections END -->
                        </div>
                    </div>
                    <p style="font-size:15px;">{{ best_answer.answer }}</p>
                    <p style="text-align:right;">{{ best_answer.created_at }}</p>
                    <hr>
                    <h5>質問者からのベストアンサーへのコメント</h5>
                    <p style="font-size:15px;">{{ comment_to_best_answer.comment }}</p>
                    {% endif %}
                </div>
                </div>
                <!-- Card END -->

                <!-- Comments START -->
                <div class="card">
                <div class="card-header pb-0 border-0">
                    <h4><span style="color:#FF1474;">{{ number_of_answer }}</span>回答</h4>
                </div>
                <div class="card-body">
                    <!-- Comments START -->
                    {% for answer in object.answerforquestion_set.all %}
                    {% if not answer.is_best_answer %}
                    <!-- Answer -->
                    <div class="d-md-flex align-items-center mb-4">
                        <!-- Avatar -->
                        <div class="avatar me-3 mb-3 mb-md-0">
                            <a href="{% url 'dashboard:post_in_dashboard' answer.user.username %}"> <img class="avatar-img rounded-circle" src="{{ answer.user.picture.url }}" alt="{{ answer.user.username }}"> </a>
                        </div>
                        <!-- Info -->
                        <div class="w-100">
                            <div class="d-sm-flex align-items-start">
                            <h6 class="mb-0"><a href="{% url 'dashboard:post_in_dashboard' answer.user.username %}">{{ answer.user.name }}</a></h6>
                            </div>
                            <!-- Connections START -->
                            <ul class="avatar-group mt-1 list-unstyled align-items-sm-center">
                            <li class="small">
                                {% if answer.user.state == '現役台湾留学生' or '台湾留学卒業生' %}
                                {{ answer.user.school }} / {{ answer.user.major }}
                                {% else %}
                                {{ answer.user.state }}
                                {% endif %}
                            </li>
                            </ul>
                            <!-- Connections END -->
                        </div>
                    </div>
                    <p style="font-size:15px;">{{ answer.answer }}</p>
                    {% if user == object.user and not object.is_solved %}
                        <a href="{% url 'questions:decide_and_comment_to_best_answer' answer.id %}"><button class="btn btn-sm btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="ベストアンサーにすることで、回答募集が終了します">ベストアンサーにする </button></a>
                    {% endif %}
                    <p style="text-align:right;">{{ answer.created_at }}</p>
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
                </div>
                <!-- Blog single END -->
            </div>
            </div>
            <!-- Main content END -->
        </div> <!-- Row END -->
    </div>
    <!-- Container END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}