{% load static %}
<!-- Right sidebar START -->
<div class="col-lg-4">

    <div class="row g-4">

        <!-- Card START -->
        <div class="col-md-6 col-lg-12">
            <div class="card">
            <div class="card-header border-0 pb-0">
                <h5 class="card-title">各種SNS</h5>
                <!-- Button modal -->
            </div>
            <!-- Card body START -->
            <div class="card-body position-relative pt-0">
                <p></p>
                <!-- Date time -->
                <ul class="list-unstyled mt-3 mb-0">
                <li class="mb-2"><i class="bi bi-calendar3 me-1"></i> Joined: {{ object.joined_at }}</li>
                <li class="mb-2"> <i class="bi bi-calendar-date fa-fw pe-1"></i> Born: {{ object.birthday }} </li>
                <li class="mb-2"> <i class="bi bi-instagram fa-fw pe-1"></i> Instagram: <a href="https://www.instagram.com/{{ object.instagram_account_name }}/"><strong> @{{ object.instagram_account_name}} </strong></a> </li>
                <li class="mb-2"> <i class="bi bi-twitter fa-fw pe-1"></i> Twitter: <a href="https://twitter.com/{{ object.twitter_account_name }}"><strong> @{{ object.twitter_account_name }} </strong></a> </li>
                </ul>
            </div>
            <!-- Card body END -->
            </div>
        </div>
        <!-- Card END -->

        <!-- Card START -->
        <div class="col-md-6 col-lg-12">
            <div class="card">
            <!-- Card header START -->
            <div class="card-header d-flex justify-content-between border-0">
                <h5 class="card-title">就活経験</h5>
                {% if object == user %}
                <a class="btn btn-primary-soft btn-sm" href="{% url 'job:create_job_experience' %}"> <i class="fa-solid fa-plus"></i> </a>
                {% endif %}
            </div>
            <!-- Card header END -->
            <!-- Card body START -->
            <div class="card-body position-relative pt-0">

                {% for job_experience in job_experiences %}
                <!-- Experience item START -->
                <div class="d-flex">
                <!-- Avatar -->
                <div class="avatar me-3">
                    <img class="avatar-img rounded-circle" src="{{ job_experience.job_picture.url }}" alt="job_piture">
                </div>
                <!-- Info -->
                <div>
                    <h6 class="card-title mb-0">{{ job_experience.company_name }} </h6>
                    <p class="small">{{ job_experience.job_date }} - {{ job_experience.job_content }} 
                        {% if object == user %}
                        <a class="btn btn-primary-soft btn-xs ms-2" href="{% url 'job:update_job_experience' job_experience.id %}">編集</a>
                        <a class="btn btn-danger-soft btn-xs ms-2" href="{% url 'job:delete_job_experience' job_experience.id %}">削除</a>
                        {% endif %}
                    </p>
                </div>
                </div>
                <!-- Experience item END -->
                {% empty %}
                <p>まだ記入されていません。</p>
                {% endfor %}

            </div>
            <!-- Card body END -->
            </div>
        </div>
        <!-- Card END -->

        <!-- Card START -->
        <div class="col-md-6 col-lg-12">
            <div class="card">
            <!-- Card header START -->
            <div class="card-header d-sm-flex justify-content-between align-items-center border-0">
                <h5 class="card-title">最新のユーザー</h5>
            </div>
            <!-- Card header END -->
            <!-- Card body START -->
            <div class="card-body position-relative pt-0">
                <div class="row g-3">

                {% for newest_user in newest_users_list %}
                <div class="col-6">
                    <div class="card shadow-none text-center h-100">
                    <!-- Card body -->
                    <div class="card-body p-2 pb-0">
                        <div class="avatar avatar-xl">
                        <a href="{% url 'dashboard:post_in_dashboard' newest_user.username %}"><img class="avatar-img rounded-circle" src="{{ newest_user.picture.url }}" alt="{{ newest_user.name }}"></a>
                        </div>
                        <h6 class="card-title mb-1 mt-3"> <a href="{% url 'dashboard:post_in_dashboard' newest_user.username %}"> {{ newest_user.name }} </a></h6>
                        <p class="mb-0 small lh-sm"> {{ newest_user.school }}</p>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer p-2 border-0">
                        <a class="btn btn-primary-soft btn-xs ms-2" href="{% url 'dashboard:post_in_dashboard' newest_user.username %}">もっとみる</a>
                    </div>
                    </div>
                </div>
                {% empty %}
                <p>最新のユーザーはまだいません。</p>
                {% endfor %}      
                </div>
            </div>
            <!-- Card body END -->
            </div>
        </div>
        <!-- Card END -->
    </div>

</div>
<!-- Right sidebar END -->