{% extends 'base.html'%}
{% load static %}

{% block head_content %}
{% endblock %}


{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- Container START -->
    <div class="container">
        <div class="row">
            <!-- Main content START -->
            <div class="col-md-11 mx-auto">
            <!-- Create a page START -->
            <div class="card">
                <!-- Title START -->
                <div class="card-header border-0 pb-0">
                <h1 class="h4 card-title mb-0">投稿削除画面</h1>
                </div>
                <!-- Title END -->

                <!-- Create a page form START -->
                <div class="card-body">
                <form class="row g-3 mt-4" method="post">
                    {% csrf_token %}

                    <div class="col-12">
                        <label class="form-label">タイトル</label>
                        <input class="form-control" type="text" value="{{ object.title }}" aria-label="Disabled input example" disabled readonly>
                    </div>

                    <div class="col-12">
                        <label class="form-label">共有URL</label>
                        <input class="form-control" type="text" value="{{ object.url }}" aria-label="Disabled input example" disabled readonly>
                    </div>

                    <div class="col-8">
                        <label class="form-label">サムネイル画像</label>
                        <input class="form-control" type="text" value="{{ object.top_image }}" aria-label="Disabled input example" disabled readonly>
                    </div>

                    <div class="col-12">
                        <label class="form-label">メタデスクリプション</label>
                        <input class="form-control" type="text" value="{{ object.meta_description }}" aria-label="Disabled input example" disabled readonly>
                    </div>

                    <div class="col-12">
                        <label class="form-label">タグ</label>
                        <input class="form-control" type="text" value="#{{ object.tag }}" aria-label="Disabled input example" disabled readonly>
                    </div>

                    <!-- Button  -->
                    <div class="col-12 text-end">
                    <button type="submit" class="btn btn-danger mb-0">削除</button>
                    </div>
                </form>
                </div>
                <!-- Create a page form END -->
            </div>
            <!-- Create a page END -->
            </div>
    
        </div> <!-- Row END -->
    </div>
    <!-- Container END --> 
</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}