{% extends 'base.html' %}
{% load static %}


{% block head_content%}
{% endblock %}


{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
  
    <!-- Container START -->
    <div class="container">
        <div class="row gx-0">
        <!-- Sidebar START -->
        <div class="col-lg-4 col-xxl-3" id="chatTabs" role="tablist">
  
          <!-- Divider -->
          <div class="d-flex align-items-center mb-4 d-lg-none">
            <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <i class="btn btn-primary fw-bold fa-solid fa-sliders"></i>
            <span class="h6 mb-0 fw-bold d-lg-none ms-2">チャットルーム</span>
            </button>
          </div>
          <!-- Advanced filter responsive toggler END -->

          <div class="card card-body border-end-0 border-bottom-0 rounded-bottom-0">
            <div class=" d-flex justify-content-between align-items-center">
              <h1 class="h5 mb-0">チャットルーム<span class="badge bg-success bg-opacity-10 text-success">{{ amount_of_following_users }}</span></h1>
            </div>
          </div>
  
          <nav class="navbar navbar-light navbar-expand-lg mx-0">
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
              <!-- Offcanvas header -->
              <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"></button>
              </div>
  
              <!-- Offcanvas body -->
              <div class="offcanvas-body p-0">
                <div class="card card-chat-list rounded-end-lg-0 card-body border-end-lg-0 rounded-top-0">
                  
                  <!-- Search chat START -->
                  <form class="position-relative" mothod="get">
                    <input class="form-control py-2" type="search" placeholder="検索" aria-label="search">
                    <button class="btn bg-transparent text-secondary px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
                      <i class="bi bi-search fs-5"></i>
                    </button>
                  </form>
                  <!-- Search chat END -->
                  <!-- Chat list tab START -->
                  <div class="mt-4 h-100">
                    <div class="chat-tab-list custom-scrollbar" style="overflow-y: auto;">
                      <ul class="nav flex-column nav-pills nav-pills-soft">

                        <li data-bs-dismiss="offcanvas">
                          <!-- Chat user tab item -->
                          <a href="{% url 'chat:get_message' conversation_partner.username %}" class="nav-link active text-start">
                            <div class="d-flex">
                              <div class="flex-shrink-0 avatar me-2">
                                <img class="avatar-img rounded-circle" src="{{ conversation_partner.picture.url }}" alt="{{ conversation_partner.username }}">
                              </div>
                              <div class="flex-grow-1 d-block">
                                <h6 class="mb-0 mt-1">
                                  {{ conversation_partner.name }} 
                                  {% if conversation_partner.is_verified %}
                                  <i class="bi bi-patch-check-fill text-primary small"></i>
                                  {% endif %}
                                </h6>
                                <div class="small text-secondary"></div>
                              </div>
                            </div>
                          </a>
                        </li>

                        {% for following_user in following_user_list %}
                        {% if not following_user.followed_user == conversation_partner %}
                        <li data-bs-dismiss="offcanvas">
                          <!-- Chat user tab item -->
                          <a href="{% url 'chat:get_message' following_user.followed_user.username %}" class="nav-link text-start">
                            <div class="d-flex">
                              <div class="flex-shrink-0 avatar me-2">
                                <img class="avatar-img rounded-circle" src="{{ following_user.followed_user.picture.url }}" alt="{{ following_user.followed_user.username }}">
                              </div>
                              <div class="flex-grow-1 d-block">
                                <h6 class="mb-0 mt-1">
                                  {{ following_user.followed_user.name }} 
                                  {% if following_user.followed_user.is_verified %}
                                  <i class="bi bi-patch-check-fill text-primary small"></i>
                                  {% endif %}
                                </h6>
                                <div class="small text-secondary"></div>
                              </div>
                            </div>
                          </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        
                      </ul>
                    </div>
                  </div>
                  <!-- Chat list tab END -->
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- Sidebar START -->
  

        <!-- Chat conversation START -->
        <div class="col-lg-8 col-xxl-9">
          <div class="card card-chat rounded-start-lg-0 border-start-lg-0">
            <div class="card-body h-100">
              <div class="py-0 mb-0 h-100">
                <!-- Conversation item START -->
                <div class="h-100">
                  <!-- Top avatar and status START -->
                  <div class="d-sm-flex justify-content-between align-items-center">
                    <div class="d-flex mb-2 mb-sm-0">
                      <div class="flex-shrink-0 avatar me-2">
                        <a href="{% url 'dashboard:post_in_dashboard' conversation_partner.username %}"><img class="avatar-img rounded-circle" src="{{ conversation_partner.picture.url }}" alt="{{ conversation_partner.username }}"></a>
                      </div>
                      <div class="d-block flex-grow-1">
                        <a href="{% url 'dashboard:post_in_dashboard' conversation_partner.username %}">
                          <h6 class="mb-0 mt-1">
                            {{ conversation_partner.name }}
                            {% if conversation_partner.is_verified %}
                            <i class="bi bi-patch-check-fill text-primary small"></i>
                            {% endif %}
                          </h6>
                        </a>
                        {% if conversation_partner.state == '現役台湾留学生' or object.state == '台湾留学卒業生'%}
                        <div class="small text-secondary">{{ conversation_partner.school }} / {{ conversation_partner.major }}</div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <!-- Top avatar and status END -->
                  <hr>
                  <!-- Chat conversation START -->
                  <div class="chat-conversation-content custom-scrollbar msg_history" style="overflow-y: auto;">
    
                    <div id="board">
                      {% for message in messages %}
                      {% if conversation_partner == message.sender_name %}
                      <!-- Chat message left -->
                      <div class="d-flex mb-1">
                        <div class="flex-shrink-0 avatar avatar-xs me-2">
                          <a href="{% url 'dashboard:post_in_dashboard' conversation_partner.username %}"><img class="avatar-img rounded-circle" src="{{ conversation_partner.picture.url }}" alt="{{ conversation_partner.username }}"></a>
                        </div>
                        <div class="flex-grow-1">
                          <div class="w-100">
                            <div class="d-flex flex-column align-items-start">
                              <div class="bg-light text-secondary p-2 px-3 rounded-2">{{ message.description }}</div>
                              <div class="small my-2">{{ message.time }}</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <!-- Chat message right -->
                      <div class="d-flex justify-content-end text-end mb-1">
                        <div class="w-100">
                          <div class="d-flex flex-column align-items-end">
                            <div class="bg-primary text-white p-2 px-3 rounded-2">{{ message.description }}</div>
                            <div class="d-flex my-2">
                              <div class="small time_date">{{ message.time }}</div>
                              {% if message.seen %}
                              <div class="small ms-2">既読</div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                    </div>

                  </div>
                  <!-- Chat conversation END -->
                </div>
                <!-- Conversation item END -->

              </div>
            </div>
            <div class="card-footer type-msg">
              <form method="post" id="chat-box">
                {% csrf_token %}
                <div class="d-sm-flex align-items-end">
                  <input class="form-control mb-sm-0 mb-3" data-autoresize placeholder="メッセージを入力してください" rows="1" type="text" name="message" id="msg_field">
                  <button class="btn btn-sm btn-danger-soft ms-sm-2"><i class="fa-solid fa-face-smile fs-6"></i></button>
                  <button class="btn btn-sm btn-primary ms-2" type="submit" name="send"><i class="fa-solid fa-paper-plane fs-6"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Chat conversation END -->
      </div> <!-- Row END -->
      <!-- =======================Chat END -->
  
    </div>
    <!-- Container END -->

    
    <script>
      // メッセージの送信者（会話相手）と受信者（自分自身）を取得しておく
      sender_id = "{{ conversation_partner.id }}";
      receiver_id = "{{ current_user.id }}";
      
      // スクロールバーを自動で下まで移動する処理を定義
      let messageBody = document.querySelector('.msg_history');
      messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
      function scrolltoend() {
          $('#board').stop().animate({
              scrollTop: $('#board')[0].scrollHeight
          }, 800);
      }

      // 画面上に追加するメッセージの定義
      const text_box = '<div class="d-flex justify-content-end text-end mb-1">' +
          '<div class="w-100">' +
          '<div class="d-flex flex-column align-items-end">' +
          '<div class="bg-primary text-white p-2 px-3 rounded-2">{description}</div>' +
          '<div class="d-flex my-2">' +
          '<div class="small text-secondary time_date">{time}</div>' +
          '{% if message.seen %}' +
          '<div class="small ms-2"><i class="fa-solid fa-check-double text-info"></i></div>' +
          '{% endif %}' +
          '</div>' +
          '</div>' +
          '</div>' +
          '</div>'

      // 送信ボタンクリック時の処理を定義
      $(function () {
          $('#chat-box').on('submit', function (event) {
              event.preventDefault();  // ページノリロードを防止
              let message = $('#msg_field');
              // sendメソッドを実行
              send('{{ current_user.id }}', '{{ conversation_partner.id }}', message.val());
              message.val(''); // メッセージ入力欄をリセット
          })
      })
      function send(sender, receiver, message){
          // メッセージ送信
          $.post('/api/messages', '{"sender_name": "' + sender + '", "receiver_name": "' +
                  receiver + '","description": "' + message + '" }', function (data) {
              let field = text_box.replace('{description}', message);
              let today = new Date();
              let time = today.getHours() + ":" + today.getMinutes();
              field = field.replace('{time}', time);
              $('#board').append(field);
              scrolltoend();
          })
      }

      $(function () {
        setInterval(receive, 1000, '{{conversation_partner.picture.url}}', '{{conversation_partner.username}}')
      })

      const text = '<div class="d-flex mb-1">' +
        '<div class="flex-shrink-0 avatar avatar-xs me-2">' +
        '<a href="{% url "dashboard:post_in_dashboard" {username}"><img class="avatar-img rounded-circle" src="{picture}" alt="{username}"></a>' +
        '</div>' +
        '<div class="flex-grow-1">' +
        '<div class="w-100">' +
        '<div class="d-flex flex-column align-items-start">' +
        '<div class="bg-light text-secondary p-2 px-3 rounded-2">{description}</div>' +
        '<div class="small my-2">{time}</div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>'
        
      function receive(picture, username){
          $.get('/api/messages/' + sender_id + '/' + receiver_id, function(data){
              if(data.length !== 0){
                  for(var i = 0; i < data.length; i++){
                      var field = text.replace('{description}', data[i].description);
                      var time = data[i].time.slice(0, 5)
                      field = field.replace('{time}', time);
                      field = field.replace('{picture}', picture);
                      field = field.replace('{username}', username);
                      $('#board').append(field);
                      scrolltoend();
                  }
              }
          })
      }
    </script>
  
</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}

