#board {
    overflow-y: auto;
    height: 700px;
}

@media (max-height: 1000px) {
    #board {
        height: 700px;
    }
}

@media (max-height: 900px) {
    #board {
        height: 600px;
    }
}

@media (max-height: 800px) {
    #board {
        height: 500px;
    }
}

@media (max-height: 700px) {
    #board {
        height: 430px;
    }
}

@media (max-height: 600px) {
    #board {
        height: 360px;
    }
}

@media (max-height: 500px) {
    #board {
        height: 300px;
    }
}

@media (max-height: 400px) {
    #board {
        height: 260px;
    }
}

@media (max-height: 300px) {
    #board {
        height: 200px;
    }
}

@media (max-height: 200px) {
    #board {
        height: 100px;
    }
}