{% extends 'base.html' %}
{% load static %}


{% block head_content%}
    <link rel="stylesheet" href="{% static 'css/accounts/message.css' %}">
{% endblock %}


{% block content %}
<main>
    <div class="container">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
              <li class="{{ message.tags }}">
                  {{ message|safe }}
                  <a href="{% url 'accounts:home' %}" class="close">x</a>
              </li>
          {% endfor %}
        </ul>
        {% endif %}
        <h3>掲示板Edit画面</h3>
        <form method="POST">
            {% csrf_token %}
            {{ edit_theme_form.as_p }}
            <input type="submit" value="ChangeNew">
        </form>
        <p><a class="navbar-brand" href="{% url 'boards:delete_theme' id=id %}">削除する</a></p> 
    </div>
</main>
{% endblock %}