{% extends 'base.html' %}
{% load static %}

{% block head_content%}
    <link rel="stylesheet" href="{% static 'css/accounts/message.css' %}">
{% endblock %}

{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- Container START -->
    <div class="container">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="{% url 'accounts:account_setting' user.username %}" class="close">x</a>
            </li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="row"> 
        <!-- Sidenav START -->
        <div class="col-lg-3">
          <!-- Advanced filter responsive toggler START -->
          <!-- Divider -->
          <div class="d-flex align-items-center mb-4 d-lg-none">
            <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <i class="btn btn-primary fw-bold fa-solid fa-sliders"></i>
              <span class="h6 mb-0 fw-bold d-lg-none ms-2">各種設定</span>
            </button>
          </div>
          <!-- Advanced filter responsive toggler END -->
  
          <nav class="navbar navbar-light navbar-expand-lg mx-0">
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
              <!-- Offcanvas header -->
              <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
  
              <!-- Offcanvas body -->
              <div class="offcanvas-body p-0">
                <!-- Card START -->
                <div class="card w-100">
                  <!-- Card body START -->
                  <div class="card-body">
  
                  <!-- Side Nav START -->
                  <ul class="nav nav-tabs nav-pills nav-pills-soft flex-column fw-bold gap-2 border-0">
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                      <a class="nav-link d-flex mb-0 active" href="{% url 'accounts:account_setting' username=user.username  %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/person-outline-filled.svg' %}" alt=""><span>プロフィールを編集</span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                        <a class="nav-link d-flex mb-0" href="{% url 'accounts:password_change' %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/key-outline-filled.svg' %}" alt=""><span>パスワードを変更</span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                      <a class="nav-link d-flex mb-0" href="#nav-setting-tab-2"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/notification-outlined-filled.svg' %}" alt=""><span>プッシュ通知</span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                      <a class="nav-link d-flex mb-0" href="#nav-setting-tab-3"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/shield-outline-filled.svg' %}" alt=""><span>プライバシーとセキュリティ</span></a>
                    </li>
                    <li class="nav-item" data-bs-dismiss="offcanvas">
                      <a class="nav-link d-flex mb-0" href="{% url 'accounts:user_logout' %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/forward-outline-filled.svg' %}" alt="ログアウト"><span>ログアウト</span></a>
                    </li>
                  </ul>
                  <!-- Side Nav END -->
  
                </div>
                <!-- Card body END -->
                <!-- Card footer -->
                <div class="card-footer text-center py-2">
                  <a class="btn btn-link text-secondary btn-sm" href="{% url 'dashboard:post_in_dashboard' username=user.username %}">ダッシュボードを見る</a>
                </div>
                </div>
              <!-- Card END -->
              </div>
              
              <!-- Copyright -->
              <p class="small text-center mt-1">©2022 Looben</p>
            
            </div>
          </nav>
        </div>
        <!-- Sidenav END -->


        <!-- Main content START -->
        <div class="col-lg-6 vstack gap-4">
            <!-- Setting Tab content START -->
            <div class="tab-content py-0 mb-0">
  
              <!-- Account setting tab START -->
              <div class="tab-pane show active fade" id="nav-setting-tab-1">
                <!-- Account settings START -->
                <div class="card mb-4">
                  
                  <!-- Title START -->
                  <div class="card-header border-0 pb-0">
                    <h1 class="h5 card-title">プロフィール編集</h1>
                    <p class="mb-0"></p>
                  </div>
                  <!-- Card header START -->
                  <!-- Card body START -->
                  <div class="card-body">
                    <!-- Form settings START -->
                    <form class="row g-3" method="post" enctype="multipart/form-data">
                      {{ form.non_field_errors }}
                      {% csrf_token %}
                      <!-- Picture -->
                      <div class="col-lg-6">
                        <label class="form-label">プロフィール写真</label>
                        <div class="avatar me-3">
                          <img class="avatar-img rounded-circle" src="{{ user.picture.url }}" alt="プロフィール写真">
                        </div>
                        {{ form.picture }}
                      </div>
                      {{ form.picture.errors }}
                      <div class="col-lg-6"></div>
                      <!-- Name -->
                      <div class="col-sm-6">
                        <label class="form-label">名前</label>
                        {{ form.name }}
                      </div>
                      {{ form.name.errors }}
                      <!-- User name -->
                      <div class="col-sm-6">
                        <label class="form-label">ユーザーネーム</label>
                        <div class="input-group">
                          <div class="input-group-text">@</div>
                          {{ form.username }}
                        </div>
                      </div>
                      {{ form.username.errors }}
                      <!-- Birthday -->
                      <div class="col-lg-6">
                        <label class="form-label">生年月日</label>
                        {{ form.birthday }}
                      </div>
                      {{ form.birthday.errors }}
                      <!-- State -->
                      <div class="col-lg-6">
                        <label class="form-label">所属</label>
                        {{ form.state }}
                      </div>
                      {{ form.state.errors }}
                      <!-- ユーザーの所属が現役台湾留学生or台湾留学卒業生なら、大学と学科を記入してもらう -->
                      {% if user.state == '現役台湾留学生' or user.state == '台湾留学卒業生' %}
                        <!-- 大学 -->
                        <div class="col-lg-6">
                          <label class="form-label">大学</label>
                          {{ form.school }}
                        </div>
                        {{ form.school.errors }}
                        <!-- 学科 -->
                        <div class="col-lg-6">
                          <label class="form-label">学部・学科</label>
                          {{ form.major }}
                        </div>
                        {{ form.major.errors }}
                      {% endif %}
                      <!-- インスタグラム　アカウント -->
                      <div class="col-lg-6">
                        <label class="form-label">Instagramアカウント名</label>
                        <div class="input-group">
                          <div class="input-group-text">@</div>
                          {{ form.instagram_account_name }}
                        </div>
                      </div>
                      {{ form.instagram_account_name.errors }}
                      <!-- ツイッターアカウント -->
                      <div class="col-lg-6">
                        <label class="form-label">Twitterアカウント名</label>
                        <div class="input-group">
                          <div class="input-group-text">@</div>
                          {{ form.twitter_account_name }}
                        </div>
                      </div>
                      {{ form.twitter_account_name.errors }}
                      <!-- Page information -->
                      <div class="col-12">
                        <label class="form-label">自己紹介</label>
                        {{ form.description }}
                        <small>文字制限: 160字</small>
                      </div>
                      {{ form.description.errors }}
                      <!-- Button  -->
                      <div class="col-12 text-end">
                        <button type="submit" class="btn btn-sm btn-primary mb-0">保存する</button>
                      </div>
                    </form>
                    <!-- Settings END -->
                  </div>
                <!-- Card body END -->
                </div>
                <!-- Account settings END -->
            </div>
            <!-- Setting Tab content END -->
        </div>
        <!-- Main content END -->
      </div>
    </div>
    <!-- Container END-->
</main>
    
<script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
<script src="{% static 'vendor/dropzone/dist/dropzone.js' %}"></script>
<script src="{% static 'vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
{% endblock %}