{% extends 'base.html' %}
{% load static %}


{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
  <!-- Container START -->
  <div class="py-5">
    <div class="container">

      <h3>{{ object.name }}</h3>
      <p>所属学生一覧ページ</p>

      <div class="row g-4">

        {% for user_affiliated_with_university in users_affiliated_with_university %}
        <!-- Main content START -->
        <div class="col-sm-6 col-lg-3">
            <!-- Friends item START -->
            <div class="card shadow-none text-center h-100">
            <!-- Card body -->
            <div class="card-body p-2 pb-0">
                <div class="avatar avatar-xl">
                <a href="{% url 'dashboard:post_in_dashboard' user_affiliated_with_university.username %}"><img class="avatar-img rounded-circle" src="{{ user_affiliated_with_university.picture.url }}" alt="{{ user_affiliated_with_university.name }}"></a>
                </div>
                <h6 class="card-title mb-1 mt-3"> <a href="{% url 'dashboard:post_in_dashboard' user_affiliated_with_university.username %}"> {{ user_affiliated_with_university.name }} <i class="bi bi-patch-check-fill text-primary small"></i></a></h6>
                <p class="mb-0 small lh-sm">{{ user_affiliated_with_university.major }}</p>
            </div>
            <!-- Card footer -->
            <div class="card-footer p-2 border-0">
                <a href="{% url 'chat:follow_and_crete_chatroom' user_affiliated_with_university.username %}"><button class="btn btn-sm btn-primary-soft " data-bs-toggle="tooltip" data-bs-placement="top" title="メッセージを送る"> <i class="bi bi-chat-dots"></i> </button></a>
                <a href="{% url 'dashboard:post_in_dashboard' user_affiliated_with_university.username %}"><button class="btn btn-sm btn-info-soft " data-bs-toggle="tooltip" data-bs-placement="top" title="詳細を見る"> <i class="bi bi-incognito"></i> </button></a>
              </div>
            </div>
            <!-- Friends item END -->
        </div>
        <!-- Main content END -->
        {% empty %}
        <p>所属している学生はまだいません。</p>
        {% endfor %}
      </div> 

    </div>
  </div>
  <!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}