{% extends 'base.html' %}
{% load static %}


{% block head_content%}
    <link rel="stylesheet" href="{% static 'css/accounts/message.css' %}">
{% endblock %}


{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main class="pt-5"> 

    <!-- Hero event START -->
    <section class="py-5 position-relative" style="background-image: url({% static 'images/bg/research_uni.jpg' %}); background-repeat: no-repeat; background-size: cover; background-position: top center;">
    <div class="bg-overlay bg-dark opacity-8"></div>
      <!-- Container START -->
      <div class="container">
        <div class="py-5">
          <div class="row position-relative">
            <div class="col-xl-8 col-lg-10 mx-auto pt-sm-5 text-center">
              <!-- Title -->
              <p class="text-white">{{ object.sub_title }}</p>
              <h1 class="text-white">{{ object.name }} {% if object.national %} <i class="bi bi-patch-check-fill text-success small"></i> {% else %} <i class="bi bi-patch-check-fill text-warning small"></i> {% endif %}</h1>
              <!-- Nav -->
              <ul class="nav nav-divider justify-content-center text-white pt-2 small mb-4">
                <li class="nav-item">
                  <a class="nav-link text-white" href="#overview"> Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#students"> Students</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#review"> Review</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#faq"> FAQ </a>
                </li>
                {% if is_user_liked_for_university %}
                <li class="nav-item">
                  <span class="nav-link text-white" id="number_of_likes_for_university"> {{ number_of_likes_for_university }}</span>
                  <button type="button" id="ajax-like-for-university" style="border:none;background:none">
                      <i class="bi bi-heart-fill" style="color:#F73641" id="like-for-university-icon"></i>
                  </button>
                </li>
                {% else %}
                <li class="nav-item">
                  <span class="nav-link text-white" id="number_of_likes_for_university"> {{ number_of_likes_for_university }}</span>
                  <button type="button" id="ajax-like-for-university" style="border:none;background:none">
                      <i class="bi bi-heart" style="color:#F73641" id="like-for-university-icon"></i>
                  </button>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section> 
    <!-- Hero event END -->
    
    <!-- Overview START -->
    <section class="py-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-lg-4">
            <div class="card card-body">
              <a class="btn btn-primary w-100" href="{{ object.homepage_url }}"> ホームページを見る </a>
              <div class="mt-4">
                <ul class="list-unstyled mb-4">
                  <li class="d-flex justify-content-between mb-3"> <strong class="w-150px">総合評価:</strong> <span class="text-end">
                  {% with range=''|center:5 %}
                  {% for _ in range %}
                    {% if forloop.counter <= object.star_rating %}
                    <i class="fas fa-star" style="color:#F7E36C;"></i>
                    {% else %}
                    <i class="fas fa-star" style="color:#D8DDEA;"></i>
                    {% endif %}
                  {% endfor %}
                  <span style="color:#FF1474;">{{ object.star_rating }}.0</span>
                  {% endwith %}
                  </span></li>
                  <li class="d-flex justify-content-between mb-3"> <strong class="w-150px">生徒数:</strong> <span class="text-end"> 約{{ object.number_of_students }}人</span></li>
                  <li class="d-flex justify-content-between mb-3"> <strong class="w-150px">学費:</strong> <span class="text-end"> {{ object.average_academic_fee}} </span></li>
                  <li class="d-flex justify-content-between mb-3"> <strong class="w-150px">寮費:</strong> <span class="text-end"> {{ object.average_domitary_fee}} </span></li>
                  <li class="d-flex justify-content-between mb-3"> <strong class="w-150px">住所:</strong> <span class="text-end"> {{ object.address }} </span></li>
                </ul> 
                <iframe class="w-100 d-block rounded-bottom grayscale" height="230" src="{{ object.googlemap_url }}"  style="border:0;" aria-hidden="false" tabindex="0"></iframe>
                <p style="margin-top:20px"><strong class="w-150px">YouTube</strong></p>
                <iframe src="{{ object.youtube_url }}" class="w-100 d-block rounded-bottom" title="YouTube video" height="230" allowfullscreen></iframe>
              </div>
            </div>
          </div>


          <div class="col-lg-8">
            <div class="card card-body">
              <!-- Overview -->
              <h4 id="overview">概要 </h4>
              <p>{{ object.name }}は、{{ object.description }}</p>
              <img class="img-fluid mb-3" src="{{ object.picture.url }}" alt="{{ object.name }}">
              <h5>学部・学科</h5>
              <div class="row row-cols-2">
                {% for major in schools.major.all %}
                <div class="col">
                    <p>・{{ major.name }}</p>
                </div>
                {% endfor %}
              </div>
              <div class="mt-4 mt-sm-5" id="students">
                <!-- Students START -->
                <h4>在学生とつながる </h4>
                <div class="row g-4">
                  {% for student in users %}
                  <div class="col-sm-4">
                    <!-- Students Item -->
                    <div class="d-flex align-items-center">
                      <div class="avatar avatar-lg me-3"> 
                        <a href="{% url 'dashboard:post_in_dashboard' student.username %}"><img class="avatar-img rounded-circle" src="{{ student.picture.url }}" alt="{{ student.name }}"></a>
                      </div>
                      <div>
                        <h6 class="mb-0">
                          {{ student.name }}
                          {% if user.is_verified %}
                          <i class="bi bi-patch-check-fill text-primary small"></i>
                          {% endif %}
                        </h6>
                        <span style="color: inherit;">{{ student.major }}</span>
                      </div>
                    </div>
                  </div>
                  {% empty %}
                  <p>登録している学生はまだいません。</p>
                  {% endfor %}
                </div>
              </div>
              <a href="{% url 'accounts:students_by_university' pk=object.id %}" style="text-align:right;">もっと見る</a>
              <!-- Students END -->
  
              <div class="mt-4 mt-sm-5" id="review">
                <div class="p-2"><h4>在学生の声 </h4></div>              
                <div class="accordion accordion-icon" id="accordionschedules">
                  {% for review in reviews %}
                    {% if forloop.counter == 1 %}
                    <!-- Accordion item -->
                    <div class="accordion-item mb-3">
                      <div class="accordion-header" id="schedule{{ review.id }}">
                        <button class="accordion-button pe-5 flex-wrap fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#schedulecollapse{{ review.id }}" aria-expanded="true" aria-controls="schedulecollapse{{ review.id }}">
                          <strong>{{ review.title }}</strong>
                          <!-- Start review -->
                          <div>
                            <div>
                            {% with range=''|center:5 %}
                            {% for _ in range %}
                              {% if forloop.counter <= review.star %}
                              <i class="fas fa-star" style="color:#F7E36C;"></i>
                              {% else %}
                              <i class="fas fa-star" style="color:#D8DDEA;"></i>
                              {% endif %}
                            {% endfor %}
                            {% endwith %}
                            <span style="color:#FF1474;">{{ review.star }}.0</span>
                            </div>
                          </div>
                        </button>
                      </div>
                      <!-- Accordion info -->
                      <div id="schedulecollapse{{ review.id }}" class="accordion-collapse collapse show" aria-labelledby="schedule{{ review.id }}" data-bs-parent="#accordionschedules">
                        <div class="accordion-body">
                          <p>{{ review.review }}</p>
                          <p style="text-align:right;">{{ review.created_at }}</p>
                          <div class="row g-4">
                            <div class="col-12">
                              <h5 class="mb-0">Speaker</h5>
                            </div>
                            <div class="col-sm-4 col-lg-3">
                              <!-- Host Item -->
                              <div class="card card-body text-center">
                                <div class="avatar avatar-lg mx-auto mb-3"> 
                                  <a href="{% url 'dashboard:post_in_dashboard' review.user.username %}"><img class="avatar-img rounded-circle" src="{{ review.user.picture.url }}" alt="{{ review.user.username }}"></a>
                                </div>
                                <!-- Host name -->
                                <div>
                                  <a href="{% url 'dashboard:post_in_dashboard' review.user.username %}">
                                    <h6 class="mb-0">
                                      {{ review.user.name }} 
                                      {% if review.user.is_verified %}
                                      <i class="bi bi-patch-check-fill text-primary small"></i>
                                      {% endif %}
                                    </h6>
                                  </a>
                                  <span>{{ review.user.school }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% else %}
                    <!-- Accordion item -->
                    <div class="accordion-item mb-3">
                      <div class="accordion-header" id="schedule{{ review.id }}">
                        <button class="accordion-button pe-5 flex-wrap fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#schedulecollapse{{ review.id }}" aria-expanded="false" aria-controls="schedulecollapse{{ review.id }}">
                          <strong>{{ review.title }}</strong>
                          <!-- Start review -->
                          <div>
                            <div>
                            {% with range=''|center:5 %}
                            {% for _ in range %}
                              {% if forloop.counter <= review.star %}
                              <i class="fas fa-star" style="color:#F7E36C;"></i>
                              {% else %}
                              <i class="fas fa-star" style="color:#D8DDEA;"></i>
                              {% endif %}
                            {% endfor %}
                            {% endwith %}
                            <span style="color:#FF1474;">{{ review.star }}.0</span>
                            </div>
                          </div>
                        </button>
                      </div>
                      <!-- Accordion info -->
                      <div id="schedulecollapse{{ review.id }}" class="accordion-collapse collapse" aria-labelledby="schedule{{ review.id }}" data-bs-parent="#accordionschedules">
                        <div class="accordion-body">
                          <p>{{ review.review }}</p>
                          <p style="text-align:right;">{{ review.created_at }}</p>
                          <div class="row g-4">
                            <div class="col-12">
                              <h5 class="mb-0">Speaker</h5>
                            </div>
                            <div class="col-sm-4 col-lg-3">
                              <!-- Host Item -->
                              <div class="card card-body text-center">
                                <div class="avatar avatar-lg mx-auto mb-3"> 
                                  <a href="{% url 'dashboard:post_in_dashboard' review.user.username %}"><img class="avatar-img rounded-circle" src="{{ review.user.picture.url }}" alt="{{ review.user.username }}"></a>
                                </div>
                                <!-- Host name -->
                                <div>
                                  <a href="{% url 'dashboard:post_in_dashboard' review.user.username %}">
                                    <h6 class="mb-0">
                                      {{ review.user.name }} 
                                      {% if review.user.is_verified %}
                                      <i class="bi bi-patch-check-fill text-primary small"></i>
                                      {% endif %}
                                    </h6>
                                  </a>
                                  <span>{{ review.user.school }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                  {% empty %}
                  <p>レビューはまだありません。</p>
                  {% endfor %}
                </div>
              </div>
              <a href="{% url 'reviews:review_list_of_universities' object.id %}" style="text-align:right; margin-top:15px;">もっと見る</a>

              
              <!-- Statistics START -->
              <div class="card card-body p-4 mt-5">
                <div class="row g-2">
                  <div class="col-sm-4">
                    <!-- Visitors -->
                    <div class="d-flex">
                      <i class="bi bi-globe fs-4"></i>
                      <div class="ms-3">
                        <h5 class="mb-0">{{ object.number_of_viewer }}</h5>
                        <p class="mb-0">総閲覧数</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <!-- 登録済み学生数 -->
                    <div class="d-flex">
                      <i class="bi bi-person-plus fs-4"></i>
                      <div class="ms-3">
                        <h5 class="mb-0">{{ registed_students_number }}</h5>
                        <p class="mb-0">登録済み学生数</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <!-- 日本人学生数 -->
                    <div class="d-flex">
                      <i class="bi bi-people fs-4"></i>
                      <div class="ms-3">
                        <h5 class="mb-0">35</h5>
                        <p class="mb-0">日本人総学生数</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Statistics END -->
  
              <!-- Faqs START -->
              <div class="mt-4 mt-sm-5" id="faq">
                <div class="p-2"><h4>よくある質問 </h4></div>              
                <div class="accordion accordion-icon" id="accordionfaq">
                  {% for question in questions %}
                    {% if forloop.counter == 1 %}
                    <!-- Accordion item -->
                    <div class="accordion-item mb-3">
                      <div class="accordion-header" id="faq{{ question.id }}">
                        <button class="accordion-button pe-5 flex-wrap fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#faqcollapse{{ question.id }}" aria-expanded="true" aria-controls="faqcollapse{{ question.id }}">
                          <strong>{{ question.content }}</strong>
                        </button>
                      </div>
                      <!-- Accordion info -->
                      <div id="faqcollapse{{ question.id }}" class="accordion-collapse collapse show" aria-labelledby="faq{{ question.id }}" data-bs-parent="#accordionfaq">
                        {% for answer in question.answerforquestion_set.all %}
                        <div class="accordion-body">
                          <p>{{ answer.answer }}</p>
                          <p style="text-align:right;">{{ question.created_at }}</p>
                          <div class="row g-4">
                            <div class="col-12">
                              <h5 class="mb-0">Answered by</h5>
                            </div>
                            <div class="col-sm-4 col-lg-3">
                              <!-- Host Item -->
                              <div class="card card-body text-center">
                                <div class="avatar avatar-lg mx-auto mb-3"> 
                                  <a href="{% url 'dashboard:post_in_dashboard' answer.user.username %}"><img class="avatar-img rounded-circle" src="{{ answer.user.picture.url }}" alt="{{ answer.user.username }}"></a>
                                </div>
                                <!-- Host name -->
                                <div>
                                  <a href="{% url 'dashboard:post_in_dashboard' answer.user.username %}">
                                    <h6 class="mb-0">
                                      {{ answer.user.name }} 
                                      {% if answer.user.is_verified %}
                                      <i class="bi bi-patch-check-fill text-primary small"></i>
                                      {% endif %}
                                    </h6>
                                  </a>
                                  <span>{{ answer.user.school }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% else %}
                    <!-- Accordion item -->
                    <div class="accordion-item mb-3">
                      <div class="accordion-header" id="faq{{ question.id }}">
                        <button class="accordion-button pe-5 flex-wrap fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqcollapse{{ question.id }}" aria-expanded="false" aria-controls="faqcollapse{{ question.id }}">
                          <strong>{{ question.content }}</strong>
                        </button>
                      </div>
                      <!-- Accordion info -->
                      <div id="faqcollapse{{ question.id }}" class="accordion-collapse collapse" aria-labelledby="faq{{ question.id }}" data-bs-parent="#accordionfaq">
                        {% for answer in question.answerforquestion_set.all %}
                        <div class="accordion-body">
                          <p>{{ answer.answer }}</p>
                          <p style="text-align:right;">{{ question.created_at }}</p>
                          <div class="row g-4">
                            <div class="col-12">
                              <h5 class="mb-0">Answered by</h5>
                            </div>
                            <div class="col-sm-4 col-lg-3">
                              <!-- Host Item -->
                              <div class="card card-body text-center">
                                <div class="avatar avatar-lg mx-auto mb-3"> 
                                  <a href="{% url 'dashboard:post_in_dashboard' answer.user.username %}"><img class="avatar-img rounded-circle" src="{{ answer.user.picture.url }}" alt="{{ answer.user.username }}"></a>
                                </div>
                                <!-- Host name -->
                                <div>
                                  <a href="{% url 'dashboard:post_in_dashboard' answer.user.username %}">
                                    <h6 class="mb-0">
                                      {{ answer.user.name }} 
                                      {% if answer.user.is_verified %}
                                      <i class="bi bi-patch-check-fill text-primary small"></i>
                                      {% endif %}
                                    </h6>
                                  </a>
                                  <span>{{ answer.user.school }}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                  {% empty %}
                  <p>質問はまだありません。</p>
                  {% endfor %}
                </div>
              </div>
              <a href="{% url 'questions:list_of_questions_for_each_university' object.id %}" style="text-align:right; margin-top:15px;">もっと見る</a>
              <!-- Faqs END -->

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Top Destinations END -->
    

    <script type="text/javascript">
      /* 大学に対するイイね */
      document.getElementById('ajax-like-for-university').addEventListener('click', e => {
        e.preventDefault();
        const url = '{% url "accounts:like_for_university" %}';
        fetch(url, {
          method: 'POST',
          body: `university_pk={{object.pk}}`,
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            'X-CSRFToken': '{{ csrf_token }}',
          },
        }).then(response => {
          return response.json();
        }).then(response => {
          // イイね数を書き換える
          const counter = document.getElementById('number_of_likes_for_university')
          counter.textContent = response.number_of_likes_for_university
          const icon = document.getElementById('like-for-university-icon')
          // 作成した場合はハートを塗る
          if (response.method == 'create') {
            icon.classList.remove('bi-heart')
            icon.classList.add('bi-heart-fill')
            icon.id = 'like-for-university-icon'
          } else {
            icon.classList.remove('bi-heart-fill')
            icon.classList.add('bi-heart')
            icon.id = 'like-for-university-icon'
          }
        }).catch(error => {
          console.log(error);
        });
      });
    </script>
  
</main>
<!-- **************** MAIN CONTENT END **************** -->
  
{% endblock %}