{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <!-- Container START -->
        <div class="container">
            <div class="row justify-content-center align-items-center vh-100 py-5">
                <!-- Main content START -->
                <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                <div class="text-center">
                    <img class="mb-4" src="{% static 'images/looben_icon2.png' %}" alt="looben" width="75" height="75">
                </div>
                <!-- ログイン START -->
                <div class="card card-body rounded-3 p-4 p-sm-5">
                    <div class="text-center">
                    <!-- タイトル -->
                    <h2 class="mb-2">ログイン</h2>
                    <!-- アカウント作成のリンク　-->
                    <span class="d-block">アカウントがありませんか？<a href="{% url 'accounts:regist' %}">  アカウントを作成</a></span>
                    </div>

                    <!-- Form Start-->
                    <form method="post" class="mt-4">
                        {{ form.non_field_errors }}
                        {% csrf_token %}
        
                        <!-- メールアドレス入力　-->
                        <div class="form-floating">
                            {{ form.username }}
                            <label for="floatingInput">Enter email</label>
                        </div>
                        {{ form.username.errors }}
        
                        <!-- パスワード入力 -->
                        <div class="form-floating">
                            {{ form.password }}
                            <label for="floatingPassword">Enter password</label>
                        </div>
                        {{ form.password.errors }}
        
                        <!-- ログインボタン　-->
                        <div class="d-grid"><button type="submit" class="btn btn-lg btn-primary">ログイン</button></div>
        
                        <!-- コピーライト　-->
                        <p class="mb-0 mt-3 text-center">©2022 Looben. All rights reserved</p>
                    </form>
                    <!-- Form END -->
                </div>
                <!-- ログイン END -->
                </div>
            </div><!-- Row END-->
        </div>
        <!-- Container END -->
    </main>
{% endblock %}