{% extends 'base.html' %}
{% load static %}


{% block head_content%}
    <link rel="stylesheet" href="{% static 'css/accounts/user_ranking.css' %}">
{% endblock %}


{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}
<main>
    <div class="py-5">
        <div class="container">

            <h3>留学生ランキング</h3>
            <p>Loobenに登録している台湾留学生が、どのくらいLoobenで活動し、貢献しているかでポイントづけされています。</p>
            
            <div class="row g-4">
                <table class="table" style="background-color:white;">
                    <thead class="table-dark" style="height:50px;">
                        <tr>
                            <th scope="col">順位</th>
                            <th scope="col">ユーザー</th>
                            <th scope="col">大学 / 学部</th>
                            <th scope="col">ポイント</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for student in object_list %}
                        <tr style="height:60px;">
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <div class="avatar avatar-xl">
                                    <a href="{% url 'dashboard:post_in_dashboard' student.username %}"><img class="avatar-img rounded-circle" src="{{ student.picture.url }}" alt="{{ student.name }}"></a>
                                </div>
                                <a href="{% url 'dashboard:post_in_dashboard' student.username %}">
                                    <h5>
                                        {{ student.name }} 
                                        {% if student.is_verified %}
                                        <i class="bi bi-patch-check-fill text-primary small"></i>
                                        {% endif %}
                                    </h5>
                                </a>
                            </td>
                            <td><i class="bi bi-geo-alt me-1"></i> {{ student.school }}<br><i class="bi bi-pen me-1"></i> {{ student.major }}</td>
                            <td>
                                <h5>{{ student.contributed_points }}pt</h5>
                                <div style="text-align:right;">   
                                {% if student != user %}
                                <a href="{% url 'chat:follow_and_crete_chatroom' student.username %}"><button class="btn btn-sm btn-primary-soft " data-bs-toggle="tooltip" data-bs-placement="top" title="メッセージを送る"> <i class="bi bi-chat-dots"></i> </button></a>
                                <a href="{% url 'dashboard:post_in_dashboard' student.username %}"><button class="btn btn-sm btn-info-soft " data-bs-toggle="tooltip" data-bs-placement="top" title="詳細を見る"> <i class="bi bi-incognito"></i> </button></a>
                                {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main> 
{% endblock %}