{% extends 'base.html' %}
{% load static %}


{% block head_content%}
    <link rel="stylesheet" href="{% static 'css/accounts/message.css' %}">
{% endblock %}


{% block header %}
{% include 'header.html' %}
{% endblock %}


{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- Container START -->
    <div class="container">
      <div class="row g-4">
  
        <!-- Sidenav START -->
        <div class="col-lg-3">
  
          <!-- Advanced filter responsive toggler START -->
          <div class="d-flex align-items-center d-lg-none">
            <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
              <i class="btn btn-primary fw-bold fa-solid fa-sliders-h"></i>
              <span class="h6 mb-0 fw-bold d-lg-none ms-2">マイプロフィール</span>
            </button>
          </div>
          <!-- Advanced filter responsive toggler END -->
          
          <!-- Navbar START-->
          <nav class="navbar navbar-expand-lg mx-0"> 
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
              <!-- Offcanvas header -->
              <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
  
              <!-- Offcanvas body -->
              <div class="offcanvas-body d-block px-2 px-lg-0">
                <!-- Card START -->
                <div class="card overflow-hidden">
                  <!-- Cover image -->
                  <div class="h-50px" style="background-image:url({% static 'images/bg/create_review.jpg' %}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                    <!-- Card body START -->
                    <div class="card-body pt-0">
                      <div class="text-center">
                      <!-- Avatar -->
                      <div class="avatar avatar-lg mt-n5 mb-3">
                        <a href="#!"><img class="avatar-img rounded border border-white border-3" src="{{ user.picture.url }}" alt="{{ user.username }}"></a>
                      </div>
                      <!-- Info -->
                      <h5 class="mb-0"> 
                        <a href="{% url 'dashboard:post_in_dashboard' user.username %}">
                          {{ user.name }} 
                          {% if user.is_verified %}
                          <i class="bi bi-patch-check-fill text-primary small"></i>
                          {% endif %}
                        </a> 
                      </h5>
                      <p>{{ user.school }}</p>

                    </div>
                    <!-- Divider -->
                    <hr>
  
                    <!-- Side Nav START -->
                    <ul class="nav nav-link-secondary flex-column fw-bold gap-2 text-center">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:account_setting' user.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/settings-outline-filled.svg'%}" alt=""><span>設定 </span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:account_setting' user.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/person-outline-filled.svg'%}" alt=""><span>友達 </span></a>
                      </li>
                    </ul>
                    <!-- Side Nav END -->
                  </div>
                  <!-- Card body END -->
                  <!-- Card footer -->
                  <div class="card-footer text-center py-2">
                    <a class="btn btn-link btn-sm" href="{% url 'dashboard:post_in_dashboard' user.username %}">ダッシュボードを見る </a>
                  </div>
                </div>
                <!-- Card END -->

                <!-- Copyright -->
                <p class="small text-center mt-1">©2023 <a class="text-body" target="_blank" href=""> Looben </a></p>
              </div>
            </div>
          </nav>
          <!-- Navbar END-->
        </div>
        <!-- Sidenav END -->
  
        <!-- Main content START -->
        <div class="col-md-8 col-lg-6 vstack gap-4">
          <!-- Create a page START -->
          <div class="card">
            <!-- Title START -->
            <div class="card-header border-0 pb-0">
              <h1 class="h4 card-title mb-0">大学口コミ作成ページ</h1>
            </div>
            <!-- Title END -->

            <!-- Create a page form START -->
            <div class="card-body">
              <form class="row g-3 mt-4" method="post">
                {{ create_review_form.non_field_errors }}
                {% csrf_token %}

                <!-- 口コミ大学 -->
                <div class="col-8">
                  <label class="form-label">口コミをする大学</label>
                  {{ create_review_form.university }}
                  <small>自分が詳しい大学について役立つ情報を書いてみよう</small>
                </div>
                {{ create_review_form.university.errors }}

                <!-- 総合評価 -->
                <div class="col-8">
                  <label class="form-label">総合評価(おすすめ度)</label>
                  {{ create_review_form.star }}
                  <small>この評価は、大学の総合評価に反映されます</small>
                </div>
                {{ create_review_form.star.errors }}

                <!-- タイトル -->
                <div class="col-12">
                  <label class="form-label">タイトル</label>
                  {{ create_review_form.title }}
                  <small>内容を簡潔に表すようなタイトルだとGood</small>
                </div>
                {{ create_review_form.title.errors }}

                <!-- レビュー本文 -->
                <div class="col-12">
                  <label class="form-label">レビュー</label>
                  {{ create_review_form.review }}
                  <small>個人名を出したり、不快になるような言葉は避けましょう（文字制限300字）</small>
                </div>
                {{ create_review_form.review.errors }}

                <!-- Button  -->
                <div class="col-12 text-end">
                  <button type="submit" class="btn btn-primary mb-0">口コミを作成</button>
                </div>
              </form>
            </div>
            <!-- Create a page form END -->
          </div>
          <!-- Create a page END -->
        </div>
  
      </div> <!-- Row END -->
    </div>
    <!-- Container END --> 
</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}