{% extends 'base.html' %}
{% load static %}


{% block head_content%}
    <link rel="stylesheet" href="{% static 'css/accounts/message.css' %}">
{% endblock %}


{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- Container START -->
    <div class="container">
      <div class="row g-4">

        <!-- Sidenav START -->
        <div class="col-lg-3">
  
          <!-- Advanced filter responsive toggler START -->
          <div class="d-flex align-items-center d-lg-none">
            <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
              <i class="btn btn-primary fw-bold fa-solid fa-sliders-h"></i>
              <span class="h6 mb-0 fw-bold d-lg-none ms-2">{{ object.name }}</span>
            </button>
          </div>
          <!-- Advanced filter responsive toggler END -->
          
          <!-- Navbar START-->
          <nav class="navbar navbar-expand-lg mx-0"> 
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
              <!-- Offcanvas header -->
              <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
  
              <!-- Offcanvas body -->
              <div class="offcanvas-body d-block px-2 px-lg-0">
                <!-- Card START -->
                <div class="card overflow-hidden">
                  <!-- Cover image -->
                  <div class="h-50px" style="background-image:url({% static 'images/bg/create_review.jpg' %}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                    <!-- Card body START -->
                    <div class="card-body pt-0">
                      <div class="text-center">
                      <!-- Avatar -->
                      <div class="avatar avatar-lg mt-n5 mb-3">
                        <a href="#!"><img class="avatar-img rounded border border-white border-3" src="{% static 'images/Yuan_Ze_University_Logo.png' %}" alt="{{ object.name }}"></a>
                      </div>
                      <!-- Info -->
                      <h5 class="mb-0"> <a href="{% url 'accounts:university_detail' object.id %}">{{ object.name }} </a> </h5>
                      <p>{{ object.sub_title }}</p>
                      {% with range=''|center:5 %}
                      {% for _ in range %}
                        {% if forloop.counter <= object.star_rating %}
                        <i class="fas fa-star" style="color:#F7E36C;"></i>
                        {% else %}
                        <i class="fas fa-star" style="color:#D8DDEA;"></i>
                        {% endif %}
                      {% endfor %}
                      <span style="color:#FF1474;"><strong>{{ object.star_rating }}.0</strong></span>
                      {% endwith %}
                    </div>
                    <!-- Divider -->
                    <hr>
  
                    <!-- Side Nav START -->
                    <ul class="nav nav-link-secondary flex-column fw-bold gap-2 text-center">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:account_setting' user.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/settings-outline-filled.svg'%}" alt=""><span>設定 </span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:account_setting' user.username %}"> <img class="me-2 h-20px fa-fw" src="{% static 'images/icon/person-outline-filled.svg'%}" alt=""><span>友達 </span></a>
                      </li>
                    </ul>
                    <!-- Side Nav END -->
                  </div>
                  <!-- Card body END -->
                  <!-- Card footer -->
                  <div class="card-footer text-center py-2">
                    <a class="btn btn-link btn-sm" href="{% url 'accounts:university_detail' object.id %}">大学詳細ページに戻る </a>
                  </div>
                </div>
                <!-- Card END -->

                <!-- Copyright -->
                <p class="small text-center mt-1">©2022 <a class="text-body" target="_blank" href=""> Looben </a></p>
              </div>
            </div>
          </nav>
          <!-- Navbar END-->
        </div>
        <!-- Sidenav END -->
  
        <!-- Main content START -->
        <div class="col-md-8 col-lg-6 vstack gap-4">
          <!-- Create a page START -->
          <div class="card">
            <!-- Title START -->
            <div class="card-header border-0 pb-0">
              <h1 class="h4 card-title mb-0">大学口コミ一覧</h1>
            </div>
            <!-- Title END -->

            <!-- Create a page form START -->
            <div class="card-body">
                <div class="mt-4 mt-sm-5" id="review">          
                    <div class="accordion accordion-icon" id="accordionschedules">
                      {% for review in reviews %}
                        {% if forloop.counter == 1 %}
                        <!-- Accordion item -->
                        <div class="accordion-item mb-3">
                          <div class="accordion-header" id="schedule{{ review.title }}">
                            <button class="accordion-button pe-5 flex-wrap fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#schedulecollapse{{ review.title }}" aria-expanded="true" aria-controls="schedulecollapse{{ review.title }}">
                              <strong>{{ review.title }}</strong>
                              <div>
                                <div>
                                {% with range=''|center:5 %}
                                {% for _ in range %}
                                  {% if forloop.counter <= review.star %}
                                  <i class="fas fa-star" style="color:#F7E36C;"></i>
                                  {% else %}
                                  <i class="fas fa-star" style="color:#D8DDEA;"></i>
                                  {% endif %}
                                {% endfor %}
                                {% endwith %}
                                <span style="color:#FF1474;">{{ review.star }}.0</span>
                                </div>
                              </div>
                            </button>
                          </div>
                          <!-- Accordion info -->
                          <div id="schedulecollapse{{ review.title }}" class="accordion-collapse collapse show" aria-labelledby="schedule{{ review.title }}" data-bs-parent="#accordionschedules">
                            <div class="accordion-body">
                              <p>{{ review.review }}</p>
                              <p style="text-align:right;">{{ review.created_at }}</p>
                              <div class="row g-4">
                                <div class="col-12">
                                  <h5 class="mb-0">Speaker</h5>
                                </div>
                                <div class="col-sm-4 col-lg-3">
                                  <!-- Host Item -->
                                  <div class="card card-body text-center">
                                    <div class="avatar avatar-lg mx-auto mb-3"> 
                                      <a href="{% url 'dashboard:post_in_dashboard' review.user.username %}"><img class="avatar-img rounded-circle" src="{{ review.user.picture.url }}" alt="{{ review.user.username }}"></a>
                                    </div>
                                    <!-- Host name -->
                                    <div>
                                      <a href="{% url 'dashboard:post_in_dashboard' review.user.username %}"><h6 class="mb-0">{{ review.user.name }} <i class="bi bi-patch-check-fill text-primary small"></i></h6></a>
                                      <span>{{ review.user.school }}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% else %}
                        <!-- Accordion item -->
                        <div class="accordion-item mb-3">
                          <div class="accordion-header" id="schedule{{ review.title }}">
                            <button class="accordion-button pe-5 flex-wrap fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#schedulecollapse{{ review.title }}" aria-expanded="false" aria-controls="schedulecollapse{{ review.title }}">
                              <strong>{{ review.title }}</strong>
                              <div>
                                <div>
                                {% with range=''|center:5 %}
                                {% for _ in range %}
                                  {% if forloop.counter <= review.star %}
                                  <i class="fas fa-star" style="color:#F7E36C;"></i>
                                  {% else %}
                                  <i class="fas fa-star" style="color:#D8DDEA;"></i>
                                  {% endif %}
                                {% endfor %}
                                {% endwith %}
                                <span style="color:#FF1474;">{{ review.star }}.0</span>
                                </div>
                              </div>
                            </button>
                          </div>
                          <!-- Accordion info -->
                          <div id="schedulecollapse{{ review.title }}" class="accordion-collapse collapse" aria-labelledby="schedule{{ review.title }}" data-bs-parent="#accordionschedules">
                            <div class="accordion-body">
                              <p>{{ review.review }}</p>
                              <p style="text-align:right;">{{ review.created_at }}</p>
                              <div class="row g-4">
                                <div class="col-12">
                                  <h5 class="mb-0">Speaker</h5>
                                </div>
                                <div class="col-sm-4 col-lg-3">
                                  <!-- Host Item -->
                                  <div class="card card-body text-center">
                                    <div class="avatar avatar-lg mx-auto mb-3"> 
                                      <a href="{% url 'dashboard:post_in_dashboard' review.user.username %}"><img class="avatar-img rounded-circle" src="{{ review.user.picture.url }}" alt="{{ review.user.username }}"></a>
                                    </div>
                                    <!-- Host name -->
                                    <div>
                                      <a href="{% url 'dashboard:post_in_dashboard' review.user.username %}"><h6 class="mb-0">{{ review.user.name }} <i class="bi bi-patch-check-fill text-primary small"></i></h6></a>
                                      <span>{{ review.user.school }}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      {% empty %}
                      {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Create a page form END -->
          </div>
          <!-- Create a page END -->
        </div>
  
      </div> <!-- Row END -->
    </div>
    <!-- Container END --> 
</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock %}